---
layout: default
title: Snowball
---


<!-- INTRO SECTION -->
<div id="hero">
  <div class="container">
    <section class="row no-gutter relative" style="min-height:calc(100vh - 3.5rem);">
      <div class="col-12 col-lg-6 offset-lg-1 py-l align-self-center order-lg-last">
          <div class="bg-grey1-a3 p-xxl"></div>
      </div>
      <div class="col-12 col-lg-5   align-self-center  order-lg-first">
        <h1 class="fs-32 md-fs-48 my-l fw-200 sm-fw-200">A simple alternative to car ownership.</h1>
        <p class="fs-14  fw-400  grey3">
          Month-to-month car subscriptions.
          Now available in the San Francisco Bay Area.</p>
        <!-- <p class="grey3 fs-16">Now available in the San Francisco Bay Area.</p> -->
        <div class="my-l">
          <a href="#intro" class="scrollTo link button">
            Learn More
            <!-- <svg class="icon"><use xlink:href="#icon-chevron-down"></use></svg> -->
          </a>
          <span class="mx-m grey3">or</span>
          <a href="#" class="standalone-link">Browse Cars</a>
        </div>
      </div>

    </section>
  </div>
  <div style="height:3rem;">
    <nav id="stickyNav" class="scrollspy container-fluid border-bottom-thin  border-grey1 z2 bg-white text-center" style="" role="navigation">
      <div class="row justify-content-center overflow-x-scroll">
        <div class="col-auto">
          <ul class="nav row justify-content-center">
            <li class="block mx-s"> <a class="block py-m h6 fw-400 grey3" href="#intro">Canvas</a> </li>
            <li class="block mx-s"> <a class="block py-m h6 fw-400 grey3" href="#howitworks">How It Works</a> </li>
            <li class="block mx-s"> <a class="block py-m h6 fw-400 grey3" href="#whycanvas">Why Canvas</a> </li>
            <li class="block mx-s"> <a class="block py-m h6 fw-400 grey3" href="#pricing">Pricing</a> </li>
          </ul>
        </div>
        <nav class="nav col-auto s-hide">
          <a class="block py-m h6  fw-500 canvas-blue" href="#"> <span class="grey4">Browse Cars</span> </a>
        </nav>
      </div>

    </nav>
  </div>
</div>

  <!-- INTRO -->
  <section id="intro" class="bg-grey1-a2 py-xl">
    <div class="container">
      <section class="row py-xl ">
        <!-- <div class="col-12 mb-xl">
          <h2 class="grey4 fs-24 section-header">Canvas</h2>
        </div> -->
        <div class="col-12 col-md-8 offset-md-2">
          <h2 class="grey4 fs-24 fw-500 mb-m">Canvas</h2>
          <p class="fs-16 sm-fs-18 md-fs-24 fw-300 grey3">We are an online platform that offers easy access to pre-owned Ford vehicles on a monthly subscription basis. All of our cars come with everything you need to hit the ground running. Insurance? Maintenance? Warranty? Yep, you're good. Just drive.</p>
        </div>
      </section>
    </div>
  </section>

  <!-- HOW IT WORKS -->
  <section id="howitworks" class="py-xl relative" data-spy="scroll" data-target="#hiwNav">
    {% include_relative components/snowball/how-it-works.html %}
  </section>

  <!-- WHY CANVAS SECTION -->
  <section id="whycanvas" class="bg-grey1-a2 min-height-75 py-xl">
    {% include_relative components/snowball/why-canvas.html %}
  </section>

  <!-- PRICING -->
  <section id="pricing" class="min-height-75 py-xl">
    {% include_relative components/snowball/pricing.html %}
  </section>


<!-- CTA SECTIONS -->
<section id="actions">
  <div class="container">
  <section class="row justify-content-around">
    <div class="col-12 col-md-6 col-lg-4 pt-xl">
      <h2 class="grey4 fs-24 fw-500 mb-m">Check out our cars </h2>
      <p class="mb-l"> Our inventory changes by the day. See for yourself! </p>
      <p> <a href="#" class="button bg-canvas-blue">Browse Cars</a></p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 pt-xl">
      <h2 class="grey4 fs-24 fw-500 mb-m"> Questions? </h2>
      <p class="mb-l"> We are here to answer any questions you have, plain and simple. </p>
      <p>
        <a href="#" class="link canvas-blue">Read Our FAQ</a>
        <br>
        <a href="#" class="link canvas-blue">support@drivecanvas.com</a>
      </p>
    </div>
  </section>
  </div>
</section>

<!-- TESTIMONIAL SECTION -->
<section id="testimonials">
  <div class="container">

  </div>
</section>

<!-- ABOUT & HIRING SECTIONS -->
<section id="about">
  <div class="container">
  <section class="row justify-content-around pb-xl">
    <div class="col-12 col-md-6 col-lg-4 pt-xl">
      <h2 class="grey4 fs-24 fw-500 mb-m">About Us</h2>
      <p class="mb-l"> At Canvas, our mission is simple: redefine car ownership to meet the needs of the modern day driver. </p>
      <p> <a href="#" class="link">Learn More</a></p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 pt-xl">
      <h2 class="grey4 fs-24 fw-500 mb-m"> We're Hiring </h2>
      <p class="mb-l"> Eager to reshape car ownership? Interested in mobility? Think a little differently? We want to talk. </p>
      <p>
        <a href="#" class="link canvas-blue">View current openings</a>
      </p>
    </div>
  </section>
  </div>
</section>
