---
layout: default
title: Snowball
---

<!-- Hero Wrap -->
<div id="hero">
  <!-- Hero -->
  <div class="container">
    <section class="row relative py-l min-height-75" style="">
      <div class="col-12 col-lg-6 col-xl-5 offset-xl-1 mb-m align-self-center order-lg-last">
          <img class="rounded"
          src="img/home/canvas_hero.jpg"
          srcset="
            img/home/canvas_hero_540.jpg 100vw,
            img/home/canvas_hero_960.jpg 100vw,
            img/home/canvas_hero_1440.jpg 100vw,
            img/home/canvas_hero_1920.jpg 50vw,
          "
          alt="View from rear seat of sedan, Woman smiling in driver's seat with Canvas representative in front passenger seat.">
      </div>
      <div class="col-12 col-md-8 col-lg-6  align-self-center order-lg-first  ">
        <h1 class="fs-32 md-fs-48 lg-fs-64 my-m fw-200">A simple alternative to car ownership.</h1>
        <p class="fw-300 grey4 measure-narrow">
          Month-to-month car subscriptions.
          Now available in the San Francisco Bay Area.</p>
        <div class="my-l">
          <a href="#intro" class="scrollTo link button">
            Learn More
          </a>
        </div>
      </div>
    </section>
  </div>
  <!-- Intro -->
  <section id="intro" class="bg-grey1-a2" >
    <div class="container">
      <section class="row py-xxl">
        <div class="col-11  col-md-8 offset-md-2 col-lg-6 offset-lg-3 order-lg-first align-self-center ">
          <p class="fs-16 sm-fs-18 md-fs-24 fw-300">We are an online platform that offers easy access to pre-owned Ford vehicles on a monthly subscription basis. All of our cars come with everything you need to hit the road, like insurance, maintenance, and warranty coverage.</p>
          <p class="mt-l">
            <a href="https://staging-carmada.herokuapp.com/app/" class="link button border grey4"> Browse Cars </a>
            <!-- <%= link_to 'Browse Cars', inventory_path,  class: 'link button border grey4' %> -->
          </p>
        </div>
      </section>
    </div>
  </section>
  <!-- Sticky Page Nav -->
  <div class="" style="min-height:3rem;">
    <nav id="stickyNav" class="scrollspy width-100 border-bottom-thin  border-grey1 z2 bg-white text-center" style="" role="navigation">
      <div class="container">
        <div class="row overflow-x-scroll">
          <div class="col-auto ">
            <ul class="nav row justify-content-center">
              <li class="block mr-s"> <a class="block py-m fs-12 sm-fs-14 md-fs-16 fw-400 grey3" href="#howitworks">How It Works</a> </li>
              <li class="block mx-s"> <a class="block py-m fs-12 sm-fs-14 md-fs-16 fw-400 grey3" href="#whycanvas">Why Canvas</a> </li>
              <li class="block mx-s"> <a class="block py-m fs-12 sm-fs-14 md-fs-16 fw-400 grey3" href="#pricing">Pricing</a> </li>
            </ul>
          </div>
          <nav class="nav col-auto ">
            <a class="block py-m fs-12 sm-fs-14 md-fs-16 fw-500" href="https://staging-carmada.herokuapp.com/app/"> <span class="grey4">Browse Cars</span> </a>
            <!-- <a class="block py-m fs-12 sm-fs-14 md-fs-16 fw-500" href="<%= inventory_path %>"> <span class="grey4">Browse Cars</span> </a> -->
          </nav>
        </div>
      </div>
    </nav>
  </div>
  <!-- End Hero Wrap -->
</div>

<!-- HOW IT WORKS -->
<section id="howitworks" class="py-xl relative">
  {% include_relative components/snowball/how-it-works.html %}
</section>

<!-- WHY CANVAS SECTION -->
<section id="whycanvas" class="bg-grey1-a2 py-xl">
  {% include_relative components/snowball/why-canvas.html %}
</section>

<!-- PRICING -->
<section id="pricing" class=" py-xl">
  {% include_relative components/snowball/pricing.html %}
</section>

<!-- CTA SECTIONS -->
<section id="actions">
  <div class="container">
  <section class="row justify-content-around">
    <div class="col-12 col-md-6 col-lg-4 pt-xl">
      <h2 class="grey4 fs-24 fw-500 mb-m">Check out our cars </h2>
      <p class="mb-l"> Our inventory changes by the day. See for yourself! </p>
      <p> <a href="https://staging-carmada.herokuapp.com/app/" class="button bg-canvas-blue">Browse Cars</a></p>
      <!-- <p> <%= link_to 'Browse Cars', inventory_path,  class: 'button bg-canvas-blue' %> </p> -->

    </div>
    <div class="col-12 col-md-6 col-lg-4 pt-xl">
      <h2 class="grey4 fs-24 fw-500 mb-m"> Questions? </h2>
      <p class="mb-l"> We are here to answer any questions you have, plain and simple. </p>
      <p>
        <a href="https://drivecanvas.zendesk.com/hc/" class="link canvas-blue">Read Our FAQ</a>
        <!-- <%= link_to 'Read Our FAQ', faq_path, class: 'link canvas-blue' %> -->
        <br>
        <a href="mailto:support@drivecanvas.com" class="link canvas-blue">support@drivecanvas.com</a>
      </p>
    </div>
  </section>
  </div>
</section>
<!-- TESTIMONIAL SECTION -->

<!-- ABOUT & HIRING SECTIONS -->
<section id="about">
  <div class="container">
    <section class="row justify-content-around pb-xl">
      <div class="col-12 col-md-6 col-lg-4 pt-xl">
        <h2 class="grey4 fs-24 fw-500 mb-m">About Us</h2>
        <p class="mb-l"> At Canvas, our mission is simple: rethink car ownership to meet the needs of the modern day driver. </p>
        <p> <a href="{{site.baseurl}}/about.html" class="link">Learn More</a> </p>
        <!-- <p> <%= link_to 'About Us', about_path, class: 'link' %> </p> -->
      </div>
      <div class="col-12 col-md-6 col-lg-4 pt-xl">
        <h2 class="grey4 fs-24 fw-500 mb-m"> We're Hiring </h2>
        <p class="mb-l"> Eager to reshape car ownership? Interested in mobility? Think a little differently? We want to talk. </p>
        <p> <a href="https://angel.co/canvas-8/jobs" class="link canvas-blue">View current openings</a> </p>
      </div>
    </section>
  </div>
</section>
