<h4>Brand Colors</h4>
<ul class="list-reset">
  <li class="inline-block p-m">
    <div class="circle p-xl bg-canvas-blue mb-m"></div>
    <h4>.canvas-blue</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-medium-blue mb-m"></div>
    <h4>.medium-blue</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-dark-blue mb-m"></div>
    <h4>.dark-blue</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-teal mb-m"></div>
    <h4>.teal</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-gold mb-m"></div>
    <h4>.gold</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-red mb-m"></div>
    <h4>.red</h4>
  </li>

</ul>

<h4>Greys (Solid)</h4>
<ul class="list-reset">
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey0 mb-m"></div>
    <h4>.grey0</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey1 mb-m"></div>
    <h4>.grey1</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey2 mb-m"></div>
    <h4>.grey2</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey3 mb-m"></div>
    <h4>.grey3</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey4 mb-m"></div>
    <h4>.grey4</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey5 mb-m"></div>
    <h4>.grey5</h4>
  </li>
</ul>

<h4>Greys (Alpha)</h4>
<ul class="list-reset">
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey0-a mb-m"></div>
    <h4>.grey0-a</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey1-a mb-m"></div>
    <h4>.grey1-a</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey2-a mb-m"></div>
    <h4>.grey2-a</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey3-a mb-m"></div>
    <h4>.grey3-a</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey4-a mb-m"></div>
    <h4>.grey4-a</h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey5-a mb-m"></div>
    <h4>.grey5-a</h4>
  </li>
</ul>
