<div class="bg-grey2 width-0 mb-xs mt-m pr-xs  pb-xs"></div>
<p class="mb-m">Extra Small (XS) .25rem / 4px</p>
<div class="bg-grey2 width-0  pr-s mb-m pb-s"></div>
<p class="mb-m">Small (S) .5rem / 8px</p>
<div class="bg-grey2 width-0  pr-m mb-m pb-m"></div>
<p class="mb-m">Medium (M) 1rem / 16px</p>
<div class="bg-grey2 width-0  pr-l mb-m pb-l"></div>
<p class="mb-m">Large (L) 2rem / 32px</p>
<div class="bg-grey2 width-0  pr-xl mb-m pb-xl"></div>
<p class="mb-m">Extra Large (XL) 4rem / 64px</p>
<div class="bg-grey2 width-0  pr-xxl mb-m pb-xxl"></div>
<p class="mb-m">Extra Extra Large (XXL) 8rem / 128px</p>
<div class="bg-grey2 width-0 pr-xxxl mb-m pb-xxxl"></div>
<p class="mb-m">Extra Extra Extra Large (XXL) 16rem / 256px</p>
