---
layout: components.html
collection: components
title: Borders
---

<h1>Directions</h1>

<div
  class="mb-l text-center bold red text-center"
  style="
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    align-items: stretch;
  "
>
  <div class="p-m bg-grey0-a border-canvas-blue border-left">.border-left</div>
  <div class="p-m bg-grey0-a border-canvas-blue border-top">.border-top</div>
  <div class="p-m bg-grey0-a border-canvas-blue border-right">.border-right</div>
  <div class="p-m bg-grey0-a border-canvas-blue border-bottom">.border-bottom</div>
  <div class="p-m bg-grey0-a border-canvas-blue border">.border</div>
  <div class="p-m bg-grey0-a border-canvas-blue border no-border">.border.no-border</div>
</div>

<h2>Responsive (only for Directions)</h2>
<h3>(Resize your browser to see in action)</h3>

<div
  class="mb-l text-center bold red text-center"
  style="
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    align-items: stretch;
  "
>
  <div class="p-m bg-grey0-a border-canvas-blue border-left">.border-left</div>
  <div class="p-m bg-grey0-a border-canvas-blue border-sm-left">.border-sm-left</div>
  <div class="p-m bg-grey0-a border-canvas-blue border-md-left">.border-md-left</div>
  <div class="p-m bg-grey0-a border-canvas-blue border-lg-left">.border-lg-left</div>
  <div class="p-m bg-grey0-a border-canvas-blue border-xl-left">.border-xl-left</div>
</div>

<h1>Widths</h1>

<div
  class="mb-l text-center bold red text-center"
  style="
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    align-items: stretch;
  "
>
  <div class="p-m bg-grey0-a border-canvas-blue border">.border</div>
  <div class="p-m bg-grey0-a border-canvas-blue border border-0">.border.border-0</div>
  <div class="p-m bg-grey0-a border-canvas-blue border border-width-2">.border.border-width-2</div>
  <div class="p-m bg-grey0-a border-canvas-blue border border-width-8">.border.border-width-8</div>
</div>

<h1>Colors</h1>

<div
  class="mb-l text-center bold text-center"
  style="
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    align-items: stretch;
  "
>
  <div class="p-m border">.border</div>
  <div class="p-m border border-canvas-blue canvas-blue">.border.border-canvas-blue</div>
  <div class="p-m border border-teal teal">.border.border-teal</div>
  <div class="p-m border border-gold gold">.border.border-gold</div>
  <div class="p-m border border-grey5-a grey5-a">.border.border-grey5-a</div>
  <div class="p-m border border-grey5 grey5">.border.border-grey5</div>
  <div class="p-m border border-grey4-a grey4-a">.border.border-grey4-a</div>
  <div class="p-m border border-grey4 grey4">.border.border-grey4</div>
  <div class="p-m border border-grey3-a grey3-a">.border.border-grey3-a</div>
  <div class="p-m border border-grey3 grey3">.border.border-grey3</div>
  <div class="p-m border border-grey2-a grey2-a">.border.border-grey2-a</div>
  <div class="p-m border border-grey2 grey2">.border.border-grey2</div>
  <div class="p-m border border-grey1-a grey1-a">.border.border-grey1-a</div>
  <div class="p-m border border-grey1 grey1">.border.border-grey1</div>
  <div class="p-m border border-grey0-a grey0-a">.border.border-grey0-a</div>
  <div class="p-m border border-grey0 grey0">.border.border-grey0</div>
</div>

<h1>Radii</h1>

<div class="mb-l">
  <div
    class="mb-s text-center bold text-center"
    style="
      display: grid;
      grid-gap: .5rem;
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
      align-items: stretch;
    "
  >
    <div class="p-m border border-canvas-blue rounded">.border.rounded</div>
    <div class="p-m border border-canvas-blue rounded-left">.border.rounded-left</div>
    <div class="p-m border border-canvas-blue rounded-top">.border.rounded-top</div>
    <div class="p-m border border-canvas-blue rounded-right">.border.rounded-right</div>
    <div class="p-m border border-canvas-blue rounded-bottom">.border.rounded-bottom</div>
    <div class="p-m border border-canvas-blue rounded not-rounded">.border.rounded.not-rounded</div>
    <div class="p-m border border-canvas-blue rounded not-rounded-left">.border.rounded.not-rounded-left</div>
  </div>

  <div class="width-xxs height-xxs border border-canvas-blue circle d-flex justify-content-center align-items-center">
    .border.circle
  </div>
</div>
