---
layout: components.html
collection: components
title: Borders
---

<h1>Directions</h1>

<div class="mb-l d-flex align-items-center flex-wrap">
  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border-left">
    <span class="red bold text-center">.border-left</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border-top">
    <span class="red bold text-center">.border-top</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border-right">
    <span class="red bold text-center">.border-right</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border-bottom">
    <span class="red bold text-center">.border-bottom</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border">
    <span class="red bold text-center">.border</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border no-border">
    <span class="red bold text-center">.border.no-border</span>
  </div>
</div>

<h2>Responsive (only for Directions)</h2>
<h3>(Resize your browser to see in action)</h3>

<div class="mb-l d-flex align-items-center flex-wrap">
  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border-left">
    <span class="red bold text-center">.border-left</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border-sm-left">
    <span class="red bold text-center">.border-sm-left</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border-md-left">
    <span class="red bold text-center">.border-md-left</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border-lg-left">
    <span class="red bold text-center">.border-lg-left</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border-xl-left">
    <span class="red bold text-center">.border-xl-left</span>
  </div>
</div>

<h1>Widths</h1>

<div class="mb-l d-flex align-items-center flex-wrap">
  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border">
    <span class="red bold text-center">.border</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border border-0">
    <span class="red bold text-center">.border.border-0</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border border-width-2">
    <span class="red bold text-center">.border.border-width-2</spwidth-an>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border border-width-8">
    <span class="red bold text-center">.border.border-width-8</span>
  </div>
</div>

<h1>Colors</h1>

<div class="mb-l d-flex align-items-center flex-wrap">
  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border">
    <span class="red bold text-center">.border</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border border-canvas-blue">
    <span class="red bold text-center">.border.border-canvas-blue</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border border-teal">
    <span class="red bold text-center">.border.border-teal</spwidth-an>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border border-gold">
    <span class="red bold text-center">.border.border-gold</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border border-grey5-a">
    <span class="red bold text-center">.border.border-grey5-a</span>
  </div>

  <div class="mb-s mr-s width-xs height-xxxs d-flex align-items-center justify-content-center border border-grey0">
    <span class="red bold text-center">.border.border-grey0</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border border-grey2">
    <span class="red bold text-center">.border.border-*</span>
  </div>
</div>

<h1>Radiuses</h1>

<div class="mb-l d-flex align-items-center flex-wrap">
  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border rounded">
    <span class="red bold text-center">.border.rounded</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xxs height-xxs d-flex align-items-center justify-content-center border-canvas-blue border circle">
    <span class="red bold text-center">.border.circle</span>
  </div>


  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border rounded-left">
    <span class="red bold text-center">.border.rounded-left</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border rounded-top">
    <span class="red bold text-center">.border.rounded-top</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border rounded-right">
    <span class="red bold text-center">.border.rounded-right</spwidth-an>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border rounded-bottom">
    <span class="red bold text-center">.border.rounded-bottom</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border rounded not-rounded">
    <span class="red bold text-center">.border.rounded.not-rounded</span>
  </div>

  <div class="mb-s mr-s bg-grey0-a width-xs height-xxxs d-flex align-items-center justify-content-center border-canvas-blue border rounded not-rounded-left">
    <span class="red bold text-center">.border.rounded.not-rounded-left</span>
  </div>
</div>
