---
layout: components.html
collection: components
title: Buttons
---

<div id="buttons" class="cf px-m py-xl">
  <p class="caps mb-m">Buttons</p>

  <div class="py-m">
    <button class="cta-primary">button.cta-primary </button> <button class="cta-secondary">button.cta-secondary </button>
  </div>

  <div class="py-m">
    <input type="submit" class="cta-primary" value="input.cta-primary"/>  <input type="submit" class="cta-secondary" value="input.cta-secondary">
  </div>

  <div class="py-m">
    <a class="cta-primary" href="#">a.cta-primary </a> <a class="cta-secondary" href="#">a.cta-secondary </a>
  </div>



  <div class="py-m">
    <input type="submit" class="cta-primary fit" value="input.cta-primary.fit"/>
  </div>

  <div class="py-m">
    <button class="cta-primary fit">button.cta-primary.fit </button>
  </div>

  <div class="py-m">
    <a class="cta-primary fit">a.cta-primary.fit </a>
  </div>


  <div class="py-m">
    <button class="cta-secondary fit">button.cta-secondary.fit </button>
  </div>

  <div class="py-m">
    <a class="cta-secondary fit">a.cta-secondary.fit </a>
  </div>

  <div class="py-m">
    <input type="submit" class="cta-secondary fit" value="input.cta-secondary.fit">
  </div>



  <div class="py-m">
    <button class="button"> button.button </button>
    <a href="#" class="button"> a.button </a>
    <input type="submit" class="button" value="input.button">
  </div>
  <div class="py-m">
    <button class="button-small"> button.button-small </button>
    <a href="#" class="button-small"> a.button-small </a>
    <input type="submit" class="button-small" value="input.button-small">
  </div>
  <div class="py-m">
    <button class="button border canvas-blue"> button.button-border canvas-blue </button>
    <a href="#" class="button border canvas-blue"> a.button-border canvas-blue </a>
    <input type="submit" class="button border canvas-blue" value="input.button .border .canvas-blue">
  </div>
  <div class="py-m">
    <button class="button border grey3"> button.button-border grey3 </button>
    <a href="#" class="button border grey3"> a.button-border grey3 </a>
    <input type="submit" class="button border grey3" value="input.button .border .grey3">
  </div>
  <div class="py-m">
    <button class="button border grey4"> button.button-border grey3 </button>
    <a href="#" class="button border grey4"> a.button-border grey3 </a>
    <input type="submit" class="button border grey4" value="input.button .border .grey4">
  </div>

</div>
