---
layout: components.html
collection: components
title: Colors
---

<h3 class="bold">Brand Colors</h3>
<ul class="list-reset">
  <li class="inline-block p-m">
    <div class="circle p-xl bg-canvas-blue mb-m"></div>
    <h4 class="monospace">.canvas-blue</h4>
    <h4 class="copy monospace" data-clipboard-text="#3857e7"> #3857e7 </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-medium-blue mb-m"></div>
    <h4 class="monospace">.medium-blue</h4>
    <h4 class="copy monospace" data-clipboard-text="#304CCA"> #304CCA </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-dark-blue mb-m"></div>
    <h4 class="monospace">.dark-blue</h4>
    <h4 class="copy monospace" data-clipboard-text="#2c45b7"> #2c45b7 </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-teal mb-m"></div>
    <h4 class="monospace">.teal</h4>
    <h4 class="copy monospace" data-clipboard-text="#37E6C8"> #37E6C8 </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-dark-teal mb-m"></div>
    <h4 class="monospace">.dark-teal</h4>
    <h4 class="copy monospace" data-clipboard-text="#1F806F"> #1F806F </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-gold mb-m"></div>
    <h4 class="monospace">.gold</h4>
    <h4 class="copy monospace" data-clipboard-text="#FFD966"> #FFD966 </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-red mb-m"></div>
    <h4 class="monospace">.red</h4>
    <h4 class="copy monospace" data-clipboard-text="#e63147"> #e63147 </h4>
  </li>

</ul>

<h3 class="bold">Greys (Solid)</h3>
<ul class="list-reset">
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey0 mb-m"></div>
    <h4 class="monospace">.grey0</h4>
    <h4 class="copy monospace" data-clipboard-text="#F2F5FA"> #F2F5FA </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey1 mb-m"></div>
    <h4 class="monospace">.grey1</h4>
    <h4 class="copy monospace" data-clipboard-text="#D3D6DE"> #D3D6DE </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey2 mb-m"></div>
    <h4 class="monospace">.grey2</h4>
    <h4 class="copy monospace" data-clipboard-text="#91959E"> #91959E </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey3 mb-m"></div>
    <h4 class="monospace">.grey3</h4>
    <h4 class="copy monospace" data-clipboard-text="#626A7A"> #626A7A </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey4 mb-m"></div>
    <h4 class="monospace">.grey4</h4>
    <h4 class="copy monospace" data-clipboard-text="#373E4D"> #373E4D </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey5 mb-m"></div>
    <h4 class="monospace">.grey5</h4>
    <h4 class="copy monospace" data-clipboard-text="#1C2230"> #1C2230 </h4>
  </li>
</ul>

<h3 class="bold">Greys (Alpha)</h3>
<ul class="list-reset">
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey0-a mb-m"></div>
    <h4 class="monospace">.grey0-a</h4>
    <h4 class="copy monospace" data-clipboard-text="rgba(21, 50, 115, 0.05)">
      r 21, <br>
      g 50, <br>
      b 115, <br>
      a 0.5
    </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey1-a mb-m"></div>
    <h4 class="monospace">.grey1-a</h4>
    <h4 class="copy monospace" data-clipboard-text="rgba(29, 45, 82, 0.2)">
      r 29,<br>
      g 45,<br>
      b 82,<br>
      a 0.2
    </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey2-a mb-m"></div>
    <h4 class="monospace">.grey2-a</h4>
    <h4 class="copy monospace" data-clipboard-text="rgba(33, 43, 64, 0.5)">
      r 33,<br>
      g 43,<br>
      b 64,<br>
      a 0.5
    </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey3-a mb-m"></div>
    <h4 class="monospace">.grey3-a</h4>
    <h4 class="copy monospace" data-clipboard-text="rgba(33, 43, 64, 0.7)">
      r 33,<br>
      g 43,<br>
      b 64,<br>
      a 0.7
    </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey4-a mb-m"></div>
    <h4 class="monospace">.grey4-a</h4>
    <h4 class="copy monospace" data-clipboard-text="rgba(33, 41, 59, 0.9)">
      r 33,<br>
      g 41,<br>
      b 59,<br>
      a 0.9
    </h4>
  </li>
  <li class="inline-block p-m">
    <div class="circle p-xl bg-grey5-a mb-m"></div>
    <h4 class="monospace">.grey5-a</h4>
    <h4 class="copy monospace" data-clipboard-text="rgba(15, 23, 38, 0.95)">
      r 15,<br>
      g 23,<br>
      b 38,<br>
      a 0.95
     </h4>
  </li>
</ul>

<script src="/assets/javascripts/clipboard.min.js"></script>
<script>
  var clipboard = new Clipboard('.copy');
  clipboard.on('success', function(e) {
    alert(e.text + ' has been copied to clipboard');
    e.clearSelection();
  });
</script>
