---
layout: components.html
collection: components
title: Grid
---
<div class="cf px-m py-xl">
  <p class="caps mb-m">Grid</p>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2 col-md-1">col-2 col-md-1</div>
      <div class="col-2 col-md-1">col-2 col-md-1</div>
      <div class="col-2 col-md-1">col-2 col-md-1</div>
      <div class="col-2 col-md-1">col-2 col-md-1</div>
      <div class="col-2 col-md-1">col-2 col-md-1</div>
      <div class="col-2 col-md-1">col-2 col-md-1</div>
      <div class="col-2 col-md-1">col-2 col-md-1</div>
      <div class="col-2 col-md-1">col-2 col-md-1</div>
      <div class="col-2 col-md-1">col-2 col-md-1</div>
      <div class="col-2 col-md-1">col-2 col-md-1</div>
      <div class="col-2 col-md-1">col-2 col-md-1</div>
      <div class="col-2 col-md-1">col-2 col-md-1</div>
    </div>
  </div>
</div>

<button id="toggleGrid" class="button button-small border grey4">Toggle Grid</button>
<script>
  //Toggle Baseline Grid and show element outlines
  const toggleGrid = e => {
    document.body.classList.toggle('grid8')
    document.body.classList.toggle('debug')
  }
  document.getElementById('toggleGrid').addEventListener('click', toggleGrid)
</script>
