---
layout: components.html
collection: components
title: Icons
---

<div id="icons" class="cf px-m py-xl">
  <p class="caps mb-m">Icons</p>

  <ul class="list-reset">
    <li class="inline-block p-m">
      <svg class="icon"> <use xlink:href="#icon-menu"></use> </svg>
      icon-menu
    </li>
    <li class="inline-block p-m">
      <svg class="icon"> <use xlink:href="#icon-close"></use> </svg>
      icon-close
    </li>
    <li class="inline-block p-m">
      <svg class="icon"> <use xlink:href="#icon-help"></use> </svg>
      icon-help
    </li>
    <li class="inline-block p-m">
      <svg class="icon"> <use xlink:href="#icon-arrow-left"></use> </svg>
      icon-arrow-left
    </li>
    <li class="inline-block p-m">
      <svg class="icon"> <use xlink:href="#icon-arrow-right"></use> </svg>
      icon-arrow-right
    </li>
    <li class="inline-block p-m">
      <svg class="icon"> <use xlink:href="#icon-arrow-up"></use> </svg>
      icon-arrow-up
    </li>
    <li class="inline-block p-m">
      <svg class="icon"> <use xlink:href="#icon-arrow-down"></use> </svg>
      icon-arrow-down
    </li>
    <li class="inline-block p-m">
      <svg class="icon"> <use xlink:href="#icon-chevron-left"></use> </svg>
      icon-chevron-left
    </li>
    <li class="inline-block p-m">
      <svg class="icon"> <use xlink:href="#icon-chevron-right"></use> </svg>
      icon-chevron-right
    </li>
    <li class="inline-block p-m">
      <svg class="icon"> <use xlink:href="#icon-chevron-up"></use> </svg>
      icon-chevron-up
    </li>
    <li class="inline-block p-m">
      <svg class="icon"> <use xlink:href="#icon-chevron-down"></use> </svg>
      icon-chevron-down
    </li>
    <li class="inline-block p-m">
      <svg class="icon"> <use xlink:href="#icon-check"></use> </svg>
      icon-check
    </li>
  </ul>

  <button class="cta-primary">
    <svg class="icon"> <use xlink:href="#icon-close"></use> </svg>
    SVG in Button
  </button>

  <button class="cta-primary">
    <svg class="icon"> <use xlink:href="#icon-close"></use> </svg>
    ALL CAPS
  </button>
</div>
