---
layout: components.html
collection: components
title: Lists
---

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h4 class="bold">Default ul</h4>
        <ul>
          <li>Air Conditioning </li>
          <li>Backup Camera </li>
          <li>Cruise Control </li>
          <li>Parking Sensors </li>
          <li>Power Windows </li>
        </ul>
      </div>

      <div class="col-12 col-md-4">
        <h4 class="bold">ul.list-reset</h4>
        <ul class="list-reset">
          <li>Air Conditioning </li>
          <li>Backup Camera </li>
          <li>Cruise Control </li>
          <li>Parking Sensors </li>
          <li>Power Windows </li>
        </ul>
      </div>

      <div class="col-12 col-md-4">
        <h4 class="bold">ul.list-check</h4>
        <ul class="list-check">
          <li>Air Conditioning </li>
          <li>Backup Camera </li>
          <li>Cruise Control </li>
          <li>Parking Sensors </li>
          <li>Power Windows </li>
        </ul>
      </div>

      <div class="col-12 col-md-4">
        <h4 class="bold">Default ol</h4>
        <ol>
          <li>Air Conditioning </li>
          <li>Backup Camera </li>
          <li>Cruise Control </li>
          <li>Parking Sensors </li>
          <li>Power Windows </li>
        </ol>
      </div>
      <div class="col-12 col-md-4">
        <h4 class="bold">Default dl</h4>
        <dl>
          <li>Air Conditioning </li>
          <li>Backup Camera </li>
          <li>Cruise Control </li>
          <li>Parking Sensors </li>
          <li>Power Windows </li>
        </dl>
      </div>
    </div>
  </div>

  <button id="toggleGrid" class="button button-small border grey4">Toggle Grid</button>
  <script>
    //Toggle Baseline Grid and show element outlines
    const toggleGrid = e => {
      document.body.classList.toggle('grid8')
      document.body.classList.toggle('debug')
    }
    document.getElementById('toggleGrid').addEventListener('click', toggleGrid)
  </script>
