---
layout: components.html
collection: components
title: Logos
---

<p>There are currently two forms of the Canvas logo: the wordmark, and the c.</p>

<div class="container">
  <div class="row">
    <div class="col m-col-6">
      <img src="assets/images/logo/Canvas_Wordmark_Square_Blue_512x512.png" alt="">
      <h3>Wordmark Usage</h3>
      <ul>
        <li>Website &amp; Apps</li>
        <li>Official Documents</li>
        <li>Stickers</li>
        <li>Promotional Materials</li>
        <li>All social media channels</li>
      </ul>
    </div>
    <div class="col m-col-6">
      <img src="assets/images/logo/Canvas_C_Blue_512x512.png" alt="">
      <h3>C Usage</h3>
      <ul>
        <li>Mobile Navigation</li>
        <li>Apparel</li>
      </ul>
    </div>
  </div>
</div>

<p>The canvas logo and a copy of the sketch file containing our logo is available to canvas accounts via google drive.</p>
<a href="https://drive.google.com/drive/folders/0Bx456MfDDjnRTEFQOGhraElDMmM?usp=sharing" class="button">View on Google Drive</a>

<p>For everything else, you can access the canvas logo for press purposes by downloading a .zip file.</p>
<a href="assets/files/canvas_logos.zip" class="button">Download .zip</a>
