---
layout: components.html
collection: components
title: Paddings and Margins
---

<style>
  .bg-padding {
    background: #f8f5aa;
  }

  .bg-margin {
    background: #f8cb9c;
  }
</style>

<h1>Margins</h1>

<h2>Directions</h2>

<div class="d-flex flex-wrap align-items-center mb-l">
  <div class="bg-margin border border-width-2 border-grey5-a ml-s">
    <div class="m-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.m-m</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s">
    <div class="mx-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mx-m</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s">
    <div class="my-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.my-m</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s">
    <div class="ml-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.ml-m</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s">
    <div class="mr-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-m</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s">
    <div class="mt-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mt-m</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s">
    <div class="mb-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mb-m</span>
      </div>
    </div>
  </div>
</div>

<h2>Sizes</h2>

<div class="d-flex flex-wrap align-items-center mb-l">
  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-0">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-0</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-auto">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-auto</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-xs">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-xs</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-s">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-s</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-m</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-l">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-l</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-xl">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-xl</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-xxl">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-xxl</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-xxxl">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-xxxl</span>
      </div>
    </div>
  </div>
</div>

<h2>Responsive</h2>
<h3>(Resize your browser to see in action)</h3>

<div class="d-flex flex-wrap align-items-center mb-l">
  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-m">
      <div class="bg-grey1 width-xs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-m</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-xs-m">
      <div class="bg-grey1 width-xs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-xs-m</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-sm-m">
      <div class="bg-grey1 width-xs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-sm-m</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-md-m">
      <div class="bg-grey1 width-xs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-md-m</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-lg-m">
      <div class="bg-grey1 width-xs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-lg-m</span>
      </div>
    </div>
  </div>

  <div class="bg-margin border border-width-2 border-grey5-a ml-s mb-s">
    <div class="mr-xl-m">
      <div class="bg-grey1 width-xs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.mr-xl-m</span>
      </div>
    </div>
  </div>
</div>

<h1>Paddings</h1>

<h2>Directions</h2>

<div class="d-flex flex-wrap align-items-center mb-l">
  <div class="bg-padding border border-width-2 border-grey5-a ml-s">
    <div class="p-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.p-m</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s">
    <div class="px-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.px-m</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s">
    <div class="py-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.py-m</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s">
    <div class="pl-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pl-m</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s">
    <div class="pr-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-m</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s">
    <div class="pt-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pt-m</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s">
    <div class="pb-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pb-m</span>
      </div>
    </div>
  </div>
</div>

<h2>Sizes</h2>

<div class="d-flex flex-wrap align-items-center mb-l">
  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-0">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-0</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-auto">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-auto</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-xs">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-xs</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-s">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-s</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-m">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-m</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-l">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-l</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-xl">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-xl</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-xxl">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-xxl</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-xxxl">
      <div class="bg-grey1 width-xxs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-xxxl</span>
      </div>
    </div>
  </div>
</div>

<h2>Responsive</h2>
<h3>(Resize your browser to see in action)</h3>

<div class="d-flex flex-wrap align-items-center mb-l">
  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-m">
      <div class="bg-grey1 width-xs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-m</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-xs-m">
      <div class="bg-grey1 width-xs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-xs-m</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-sm-m">
      <div class="bg-grey1 width-xs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-sm-m</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-md-m">
      <div class="bg-grey1 width-xs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-md-m</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-lg-m">
      <div class="bg-grey1 width-xs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-lg-m</span>
      </div>
    </div>
  </div>

  <div class="bg-padding border border-width-2 border-grey5-a ml-s mb-s">
    <div class="pr-xl-m">
      <div class="bg-grey1 width-xs height-xxs relative text-center">
        <span class="red absolute top-50 left-50 bold">.pr-xl-m</span>
      </div>
    </div>
  </div>
</div>
