---
layout: components.html
collection: components
title: Tables
---

<div id="tables" class="cf px-m py-xl">
  <p class="caps mb-m">Tables</p>
  <p class="caps"> With th inside of thead </p>

  <h4>Car Specs</h4>
  <table>
    <thead>
      <tr>   <th> Thing </th> <th> Value </th> </tr>
    </thead>
    <tbody>
      <tr> <td> Vin </td> <td> JIEWUQF1ALKHSF2352AQ </td> </tr>
      <tr> <td> Mileage </td> <td> 28,823 Miles </td> </tr>
      <tr> <td> Transmission </td> <td> Automatic </td> </tr>
      <tr> <td> Drivetrain </td> <td> All Wheel Drive </td> </tr>
      <tr> <td> Engine </td> <td> 160hp, 2L V4 </td> </tr>
      <tr> <td> # of Keys </td> <td> 2 </td> </tr>
    </tbody>
  </table>

  <p class="caps"> With th at beginning of row </p>

  <h4>Car Specs</h4>
  <table>
    <tbody>
      <tr> <th> Vin           </th> <td> JIEWUQF1ALKHSF2352AQ   </td> </tr>
      <tr> <th> Mileage       </th> <td> 28,823 Miles           </td> </tr>
      <tr> <th> Transmission  </th> <td> Automatic              </td> </tr>
      <tr> <th> Drivetrain    </th> <td> All Wheel Drive        </td> </tr>
      <tr> <th> Engine        </th> <td> 160hp, 2L V4           </td> </tr>
      <tr> <th> # of Keys     </th> <td> 2                      </td> </tr>
    </tbody>
  </table>

  <p class="caps"> Striped </p>

  <h4>Car Specs</h4>
  <table class="striped">
    <tbody>
      <tr> <th> Vin </th> <td> JIEWUQF1ALKHSF2352AQ </td> </tr>
      <tr> <th> Mileage </th> <td> 28,823 Miles </td> </tr>
      <tr> <th> Transmission </th> <td> Automatic </td> </tr>
      <tr> <th> Drivetrain </th> <td> All Wheel Drive </td> </tr>
      <tr> <th> Engine </th> <td> 160hp, 2L V4 </td> </tr>
      <tr> <th> # of Keys </th> <td> 2 </td> </tr>
    </tbody>
  </table>
</div>

<button id="toggleGrid" class="button button-small border grey4">Toggle Grid</button>
<script>
  //Toggle Baseline Grid and show element outlines
  const toggleGrid = e => {
    document.body.classList.toggle('grid8')
    document.body.classList.toggle('debug')
  }
  document.getElementById('toggleGrid').addEventListener('click', toggleGrid)
</script>
