---
layout: components.html
collection: components
title: Typography
---

<div class="col col-12">
  <p>
    Our typeface is <a href="https://www.fonts.com/font/linotype/avenir#"><em>Avenir</em></a> by Linotype.
  </p>
  <p> It is a default system font on Apple devices. If you're editing a document, you can simply select Avenir from your fonts.</p>
  <p>On the web, we serve the typeface through <a href="http://fonts.com">fonts.com</a> </p>
  <hr>
  <div class="py-l">
    <h2 class="fs-20 fw-bold">Avenir Heavy</h2>
    <p class="fs-24 md-fs-32 lg-fs-48 max-width-l leading-text fw-bold">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br>0 1 2 3 4 5 6 7 8 9</p>
    <hr class="mb-m">
    <h2 class="fs-20">Avenir Roman</h2>
    <p class="fs-24 md-fs-32 lg-fs-48 max-width-l leading-text">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br>0 1 2 3 4 5 6 7 8 9</p>
  </div>

</div>
<div class="col col-12 m-col-6 px-m">
  <div class="py-l">
    <h1 class="measure">Heading 1 - A new and simple way to own a car, keep on trucking in the free world. </h1>
    <h2 class="measure">Heading 2 - A new and simple way to own a car, keep on trucking in the free world. </h2>
    <h3 class="measure">Heading 3 - A new and simple way to own a car, keep on trucking in the free world. </h3>
    <h4 class="measure">Heading 4 - A new and simple way to own a car, keep on trucking in the free world. </h4>
    <h5 class="measure">Heading 5 - A new and simple way to own a car, keep on trucking in the free world. </h5>
    <h6 class="measure">Heading 6 - A new and simple way to own a car, keep on trucking in the free world. </h6>
    <p class="measure mb-m">Sample text regarding Canvas. Lorem Khaled Ipsum is a major key to success. Wraith talk. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. We the best. Find peace, life is like a water fall, you’ve gotta flow. Give thanks to the most high. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. I’m up to something. Learning is cool, but knowing is better, and I know the key to success. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast.</p>
  </div>
  <hr>
  <div class="py-l">
    <h2 class="fw-bold">Font Styles</h2>
    <p class="fw-bold">Bold </p>
    <p class="italic">Italic </p>
    <p class="fw-bold italic">Bold Italic </p>
    <p class="caps">Caps </p>
    <p class="fw-bold caps">Bold Caps</span></p>
  </div>
  <hr>
  <div class="py-l">
    <h2 class="fw-bold">Font Scale</h2>
    <p>Our typography is based on a base scale of 1rem / 16px.</p>
    <code>
    <pre>
    16 x .75 = 12
    16 x .875= 14
    16 x 1   = 16
    16 x 1.25= 20
    16 x 1.5 = 24
    16 x 2   = 32
    16 x 3   = 48
    16 x 4   = 64
    </pre>
    </code>
    <p class="fs-64">.fs-64 </p> <p class="fs-64 fw-bold"> .fs-64 .fw-bold </p>
    <p class="fs-48">.fs-48 </p> <p class="fs-48 fw-bold">.fs-48 .fw-bold</p>
    <p class="fs-32">.fs-32 </p> <p class="fs-32 fw-bold">.fs-32 .fw-bold</p>
    <p class="fs-24">.fs-24 </p> <p class="fs-24 fw-bold">.fs-24 .fw-bold</p>
    <p class="fs-20">.fs-20 </p> <p class="fs-20 fw-bold">.fs-20 .fw-bold</p>
    <p class="fs-16">.fs-16 </p> <p class="fs-16 fw-bold">.fs-16 .fw-bold</p>
    <p class="fs-14">.fs-14 </p> <p class="fs-14 fw-bold">.fs-14 .fw-bold</p>
    <p class="fs-12 caps">.fs-12 </p> <p class="fs-12 fw-bold caps">.fs-12 .fw-bold</p>
  </div>
</div>

<button id="toggleGrid" class="button button-small border grey4">Toggle Grid</button>
<script>
  //Toggle Baseline Grid and show element outlines
  const toggleGrid = e => {
    document.body.classList.toggle('grid8')
    document.body.classList.toggle('debug')
  }
  document.getElementById('toggleGrid').addEventListener('click', toggleGrid)
</script>
