<footer id="site-footer" class="bg-grey4 grey1 py-l">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 my-l">
        <svg class="white icon-logo-wordmark d-block"><use xlink:href="#icon-logo-wordmark"></use></svg>
      </div>
      <div class="col-12 col-md-4 col-lg-3 mt-l">
        <h3 class="fs-18 mb-s">Info</h3>
        <ul class="list-reset">
          <li class="pb-m"><a class="fs-14 link white" href="{{site.baseurl}}/about">About</a></li>
          <li class="pb-m"><a class="fs-14 link white" href="#">Jobs</a></li>
          <li class="pb-m"><a class="fs-14 link white" href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 col-lg-3 mt-l">
        <h3 class="fs-18 mb-s">Social</h3>
        <ul class="list-reset">
          <li class="pb-m"><a class="fs-14 link white" href="https://www.facebook.com/drivecanvas">Facebook</a></li>
          <li class="pb-m"><a class="fs-14 link white" href="https://www.instagram.com/drivecanvas/">Instagram</a></li>
          <li class="pb-m"><a class="fs-14 link white" href="https://www.instagram.com/drivecanvas/">Twitter</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 col-lg-3 mt-l">
        <h3 class="fs-18 mb-s">Contact</h3>
        <ul class="list-reset">
          <li class="pb-m"><a class="fs-14 link white" href="mailto:support@drivecanvas.com">support@drivecanvas.com</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-9 offset-lg-3 py-l">
        <p class="fs-14">©Copyright Canvas 2017 <a href="" class="mx-m link white">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</footer>
