<header role="" class="bg-white container-fluid relative z3">
  <div class="row">
    <div class="logo col-xs-4 py-m">
      <!-- <a href="<%= root_path %>" class="">
        <svg class="canvas-blue icon-logo-wordmark block"><use xlink:href="#icon-logo-wordmark"></use></svg>
      </a> -->
      <a href="{{site.baseurl}}/snowball" class="">
        <svg class="canvas-blue icon-logo-wordmark block"><use xlink:href="#icon-logo-wordmark"></use></svg>
      </a>
    </div>
    <nav class="col-xs-8 s-hide s-m-hide" role="">
      <ul class="navbar-right nav navbar-nav float-right">
        <li class="float-left"> <a class="block py-m px-m fs-14 grey3" href="https://staging-carmada.herokuapp.com/app/">Browse Cars</a></li>
        <!-- <a class="col-auto block py-m px-m h6 grey3" href="<%= inventory_path %>">Browse Cars</a> -->
        <li class="float-left"> <a class="block py-m px-m fs-14 grey3" href="{{site.baseurl}}/about">About Us</a></li>
        <!-- <%= link_to 'About Us', about_path, class: 'col-auto block py-m px-m h6 grey3' %> -->
        <li class="float-left"> <a class="block py-m px-m fs-14 grey3" href="https://drivecanvas.zendesk.com/hc/">FAQ</a></li>
        <!-- <%= link_to 'FAQ', faq_path, class: 'col-auto block py-m px-m h6 grey3' %> -->
        <li class="float-left"> <a class="block py-m px-m fs-14 grey3" href="#">Sign In</a></li>
        <!-- <%= link_to 'Sign In', new_user_session_path, class: 'col-auto block py-m px-m h6 grey3' %> -->
      </ul>
    </nav>
    <nav class="col-xs-8  m-l-hide l-xl-hide xl-hide">
      <div class="">
        <a href="#" class="float-right px-l py-m" id="globalNavToggle">
          <svg id="menuToggle" class="absolute transition-02s grey3 icon block"><use xlink:href="#icon-menu"></use></svg>
          <svg id="closeToggle" class="absolute transition-02s opacity-0 grey3 icon block"><use xlink:href="#icon-close"></use></svg>
        </a>
      </div>
    </nav>
  </div>
</header>

<nav class="offCanvasNav fixed bg-white z2 top-0 bottom-0 left-100 transition-02s transition-ease-out overflow-y-scroll width-100 m-l-hide l-xl-hide xl-hide py-xl">
  <a class="col-xs-12 block py-m px-m h6 grey3" href="https://staging-carmada.herokuapp.com/app/">Browse Cars</a>
  <!-- <%= link_to 'Browse Cars', inventory_path,  class: 'col-auto block py-m px-m h6 grey3' %> -->
  <a class="col-xs-12 block py-m px-m h6 grey3" href="{{site.baseurl}}/about">About Us</a>
  <!-- <%= link_to 'About Us', about_path, class: 'col-auto block py-m px-m h6 grey3' %> -->
  <a class="col-xs-12 block py-m px-m h6 grey3" href="https://drivecanvas.zendesk.com/hc/">FAQ</a>
  <!-- <%= link_to 'FAQ', faq_path, class: 'col-auto block py-m px-m h6 grey3' %> -->
  <a class="col-xs-12 block py-m px-m h6 grey3" href="#">Sign In</a>
  <!-- <%= link_to 'Sign In', new_user_session_path, class: 'col-auto block py-m px-m h6 grey3' %> -->
</nav>
