<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {{#if title}}
      {{title}}
    {{else}}
      Home
    {{/if}}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{site.github.url}}/assets/stylesheets/amsterdam.css">
  <!-- <link rel="stylesheet" href="{{site.github.url}}/css/bootstrap.css"> -->

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Typekit -->
  <script src="https://use.typekit.net/xxm6fsa.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/javascripts/bootstrap_affix_scrollspy.js"></script>
  <script src="/assets/javascripts/nouislider.min.js"></script>

</head>
