<footer class="bg-grey4 grey1 p-m container-fluid">
  <div class="row">
    <div class="col-12 col-sm-3">
      <svg class="grey1 icon-logo-wordmark block"><use xlink:href="#icon-logo-wordmark"></use></svg>
    </div>
    <div class="col-12 col-sm-3">
      <h3 class="f-s16">Info</h3>
      <ul class="list-reset">
        <li class="pb-m"><a class="f-s14 white" href="#">About</a></li>
        <li class="pb-m"><a class="f-s14 white" href="#">Jobs</a></li>
        <li class="pb-m"><a class="f-s14 white" href="#">FAQ</a></li>
        <li class="pb-m"><a class="f-s14 white" href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-3">
      <h3 class="f-s16">Contact</h3>
      <ul class="list-reset">
        <li class="pb-m"><a class="f-s14 white" href="#">support@drivecanvas.com</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-3">
      <h3 class="f-s16">Social</h3>
      <ul class="list-reset">
        <li class="pb-m"><a class="f-s14 white" href="http://facebook.com/{{site.facebook-username}}">Facebook</a></li>
        <li class="pb-m"><a class="f-s14 white" href="http://instagram.com/{{site.instagram-username}}">Instagram</a></li>
        <li class="pb-m"><a class="f-s14 white" href="http://twitter.com/{{site.twitter-username}}">Twitter</a></li>
      </ul>
    </div>
    <div class="col-12">
      <p>copyright info</p>
    </div>
  </div>
</footer>
