<!-- <div class="notification bg-canvas-blue p-m white relative text-center">
  <h5>Text notification with warning. <a href="#" class="white underline my-m bold">Action link text example.</a></h5>
  <div class="absolute right-m top-m">
    <span id="dismiss">
      <svg class="icon white"><use xlink:href="#icon-close"></use></svg>
    </span>
  </div>
</div> -->
<header role="" class="bg-white shadow container-fluid">
  <div class="row">
    <div class="logo col-4 py-m">
      <a href="{{site.baseurl}}/snowball.html" class="">
        <svg class="canvas-blue icon-logo-wordmark block"><use xlink:href="#icon-logo-wordmark"></use></svg>
      </a>
    </div>
    <nav class="col-8 row justify-content-end s-hide s-m-hide" role="">
      <a class="col-auto block py-m px-m h5 grey3" href="#">Browse Cars</a>
      <a class="col-auto block py-m px-m h5 grey3" href="{{site.baseurl}}/about.html">About Us</a>
      <a class="col-auto block py-m px-m h5 grey3" href="#">FAQ</a>
      <a class="col-auto block py-m px-m h5 grey3" href="#">Sign In</a>
    </nav>
    <nav class="col-8 row justify-content-end m-l-hide l-xl-hide xl-hide">
      <a href="" class="py-m">
        <svg class="grey3 icon block"><use xlink:href="#icon-menu"></use></svg>
      </a>
    </nav>
  </div>
</header>
