<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{site.github.url}}/css/main.css">
  <link rel="stylesheet" href="{{site.github.url}}/css/syntax.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- MYFONTS TRIAL -->
  <!-- <script type="text/javascript">
      (function() {
          var path = '//easy.myfonts.net/v2/js?sid=260918(font-family=Sailec+Bold)&sid=260923(font-family=Sailec+Light)&sid=260924(font-family=Sailec+Medium)&sid=260925(font-family=Sailec)&key=5ON1HEgO2E',
              protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
              trial = document.createElement('script');
          trial.type = 'text/javascript';
          trial.async = true;
          trial.src = protocol + path;
          var head = document.getElementsByTagName("head")[0];
          head.appendChild(trial);
      })();
  </script> -->

  <!-- TYPEKIT TRIAL -->
  <!-- <script src="https://use.typekit.net/xxm6fsa.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script> -->



</head>
