<header role="" class="bg-white shadow container-fluid relative z3">
  <div class="row">
    <div class="logo col-4 py-m">
      <a href="<%= root_path %>" class="">
        <svg class="canvas-blue icon-logo-wordmark block"><use xlink:href="#icon-logo-wordmark"></use></svg>
      </a>
    </div>
    <nav class="col-8 row justify-content-end s-hide s-m-hide" role="">
      <a class="col-auto block py-m px-m h5 grey3" href="<%= inventory_path %>">Browse Cars</a>
      <a class="col-auto block py-m px-m h5 grey3" href="{{site.baseurl}}/about.html">About Us</a>
      <!-- <%= link_to 'About Us', about_path, class: 'col-auto block py-m px-m h5 grey3' %> -->
      <a class="col-auto block py-m px-m h5 grey3" href="#">FAQ</a>
      <!-- <%= link_to 'FAQ', faq_path, class: 'col-auto block py-m px-m h5 grey3' %> -->
      <a class="col-auto block py-m px-m fs-14 caps grey3 bold" href="#">Sign In</a>
      <!-- <%= link_to 'Sign In', new_user_session_path, class: 'col-auto block py-m px-m fs-14 caps grey3 bold' %> -->
    </nav>
    <nav class="col-8 row justify-content-end m-l-hide l-xl-hide xl-hide">
      <a href="" class="py-m">
        <svg class="grey3 icon block"><use xlink:href="#icon-menu"></use></svg>
      </a>
    </nav>
  </div>
</header>

<nav class="offCanvasNav fixed z2 top-0 bottom-0 left-100 transition-02s transition-ease-out overflow-y-scroll width-100 m-l-hide l-xl-hide xl-hide">
  <a class="col-auto block py-m px-m h5 grey3" href="#">Browse Cars</a>
  <!-- <%= link_to 'Browse Cars', inventory_path,  class: 'col-auto block py-m px-m h5 grey3' %> -->
  <a class="col-auto block py-m px-m h5 grey3" href="{{site.baseurl}}/about.html">About Us</a>
  <!-- <%= link_to 'About Us', about_path, class: 'col-auto block py-m px-m h5 grey3' %> -->
  <a class="col-auto block py-m px-m h5 grey3" href="#">FAQ</a>
  <!-- <%= link_to 'FAQ', faq_path, class: 'col-auto block py-m px-m h5 grey3' %> -->
  <a class="col-auto block py-m px-m fs-14 caps grey3 bold" href="#">Sign In</a>
  <!-- <%= link_to 'Sign In', new_user_session_path, class: 'col-auto block py-m px-m fs-14 caps grey3 bold' %> -->
</nav>
