<header role="" class="bg-white shadow container-fluid">
  <div class="row">
    <div class="logo col-4 py-m">
      <svg class="canvas-blue icon-logo-wordmark block"><use xlink:href="#icon-logo-wordmark"></use></svg>
    </div>
    <nav class="col-8 row justify-content-end" role="">
      <a class="col-auto block py-m px-l h5 grey3" href="#">Browse Cars</a>
      <a class="col-auto block py-m px-l h5 grey3" href="#">FAQ</a>
      <a class="col-auto block py-m px-l h5 grey3" href="#">Sign In</a>
    </nav>
  </div>
</header>
