.ajaxWrap{
  transition:all 300ms;
}
.pageTransOut{
  opacity:0;
}
.pageTransIn{
  opacity:1;
}
.rotate-45{
  transform:rotate(45deg);
}
.rotate-90{
  transform:rotate(90deg);
}
.rotate-180{
  transform:rotate(180deg);
}
.rotate-270{
  transform:rotate(270deg);
}
.rotate-360{
  transform:rotate(360deg);
}
.origin-t{
  transform-origin:top;
}
.origin-l{
  transform-origin:left;
}
.origin-r{
  transform-origin:right;
}
.origin-b{
  transform-origin:bottom;
}
.origin-rt{
    transform-origin:right top;
}
.origin-lb{
    transform-origin:left bottom;
}

@mixin quarter-second-transition{
-webkit-transition-duration: .25s;
-moz-transition-duration: .25s;
-ms-transition-duration: .25s;
-o-transition-duration: .25s;
transition-duration: .25s;
}

@mixin half-second-transition{
-webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-ms-transition-duration: .5s;
-o-transition-duration: .5s;
transition-duration: .5s;
}

@mixin one-em-border-radius{
-webkit-border-radius: 1em;
-moz-border-radius: 1em;
-ms-border-radius: 1em;
-o-border-radius: 1em;
border-radius:1em;
}

@mixin pseudo-block{
	display:block;
	content:' ';
	position:absolute;
	@include quarter-second-transition;
}
