/*
  Media Queries
 */







// Add or remove breakpoints as needed.
// Currently using increments of 16 from base until l, 32 l through xxl
// All default styles are applied before a breakpoint of 32em / 512px, which is the measure of ideal line length for our base font size.
$breakpoints:(
  s: 32em,    /* 512px */
  m: 48em,    /* 768px */
  l: 64em,    /* 1024px */
  xl: 96em,   /* 1536px */
  xxl: 128em, /* 2048px */
);


/*
  To use a small screen specific style:
  @media screen and ($breakpoint-s){
    .s-class{
      property: value;
    }
  }
*/

@mixin breakpoint($size){
  @each $breakpoint, $value in $breakpoints {
     @if $size == $breakpoint {
       @media screen and (min-width: map-get($breakpoints, $breakpoint)){
         @content;
       }
     }
  }
}

/*
  Example using medium breakpoint (m).
  Setting the color to red for any device wider than medium breakpoint.
  .m-red {
     @include breakpoint(m) {
       color: red;
     };
   }
   In html, this could look like class="blue m-red" and the color would be blue on all devices smaller than the medium width.
*/
