button{
  background-color:$white;
  border:none;
  font-weight:600;
  font-size:$s-h5;
}

.btn-circle{
  display:block;
  margin:auto;
  border-radius:50%;
  height:6rem;
  width:6rem;
  padding:1rem;
}
.btn
.icon-big {
  width: 4rem;
  height: 4rem;
}

.fill-black { fill: black;}
