button, .button{
  background-color:$canvas-blue;
  color:$white;
  border:none;
  font-weight:600;
  font-size:$s-h5;
  padding:$space-m $space-l;
  border-radius:$border-radius;
  letter-spacing:.02em;
}

a.button{
  text-decoration:none;
  padding:$space-m $space-l;
  border:none;
  color:$white!important;
}

a.btn-big{
    padding:$space-l $space-xl;
}
