$colors: (
  'white': $white,
  'canvas-blue': $canvas-blue,
  'dark-blue': $dark-blue,
  'grey1': $grey1,
  'grey2': $grey2,
  'grey3': $grey3,
  'grey4': $grey4,
  'red': $red,
);

// Aspen environment currently using "-c-" modifier in color based class names ex ="bg-c-[var]" requesting removal for speed / simplicity
@each $value in $colors {
  .#{nth($value, 1)} {
    color: nth($value, 2);
  }

  .bg-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }

  .border-#{nth($value, 1)} {
    border-color: nth($value, 2);
    border-style: solid;
  }
}


// UTILITY COLORS
$black: #000;
.black  {color:$black;}
.black-1{color:rgba(0,0,0,0.1);}
.black-2{color:rgba(0,0,0,0.2);}
.black-3{color:rgba(0,0,0,0.3);}
.black-4{color:rgba(0,0,0,0.4);}
.black-5{color:rgba(0,0,0,0.5);}
.black-6{color:rgba(0,0,0,0.6);}
.black-7{color:rgba(0,0,0,0.7);}
.black-8{color:rgba(0,0,0,0.8);}
.black-9{color:rgba(0,0,0,0.9);}

.bg-black  {background-color:$black;}
.bg-black-1{background-color:rgba(0,0,0,0.1);}
.bg-black-2{background-color:rgba(0,0,0,0.2);}
.bg-black-3{background-color:rgba(0,0,0,0.3);}
.bg-black-4{background-color:rgba(0,0,0,0.4);}
.bg-black-5{background-color:rgba(0,0,0,0.5);}
.bg-black-6{background-color:rgba(0,0,0,0.6);}
.bg-black-7{background-color:rgba(0,0,0,0.7);}
.bg-black-8{background-color:rgba(0,0,0,0.8);}
.bg-black-9{background-color:rgba(0,0,0,0.9);}

$black10:rgba(0,0,0,0.1);
$black20:rgba(0,0,0,0.2);
$black30:rgba(0,0,0,0.3);
$black40:rgba(0,0,0,0.4);
$black50:rgba(0,0,0,0.5);
$black60:rgba(0,0,0,0.6);
$black70:rgba(0,0,0,0.7);
$black80:rgba(0,0,0,0.8);
$black90:rgba(0,0,0,0.9);

$white: #FFF;
.white  {color:$white;}
.white-1{color:rgba(255,255,255,0.1);}
.white-2{color:rgba(255,255,255,0.2);}
.white-3{color:rgba(255,255,255,0.3);}
.white-4{color:rgba(255,255,255,0.4);}
.white-5{color:rgba(255,255,255,0.5);}
.white-6{color:rgba(255,255,255,0.6);}
.white-7{color:rgba(255,255,255,0.7);}
.white-8{color:rgba(255,255,255,0.8);}
.white-9{color:rgba(255,255,255,0.9);}

.bg-white  {background-color:$white;}
.bg-white-1{background-color:rgba(255,255,255,0.1);}
.bg-white-2{background-color:rgba(255,255,255,0.2);}
.bg-white-3{background-color:rgba(255,255,255,0.3);}
.bg-white-4{background-color:rgba(255,255,255,0.4);}
.bg-white-5{background-color:rgba(255,255,255,0.5);}
.bg-white-6{background-color:rgba(255,255,255,0.6);}
.bg-white-7{background-color:rgba(255,255,255,0.7);}
.bg-white-8{background-color:rgba(255,255,255,0.8);}
.bg-white-9{background-color:rgba(255,255,255,0.9);}


$white10:rgba(255,255,255,0.1);
$white20:rgba(255,255,255,0.2);
$white30:rgba(255,255,255,0.3);
$white40:rgba(255,255,255,0.4);
$white50:rgba(255,255,255,0.5);
$white60:rgba(255,255,255,0.6);
$white70:rgba(255,255,255,0.7);
$white80:rgba(255,255,255,0.8);
$white90:rgba(255,255,255,0.9);
