
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: $heading-font-family;
  //color:$black90;
}


h1{
  line-height:1;
}
h2{
  line-height:1;
}
h3{
  line-height:1.5;
}
h4{
  line-height:1rem;
}
h5{
  line-height:1.5rem;
}
h6{
  line-height:1.5rem;
}
