$link-color: $black80;
$link-color--hover: $black;
$link-color--active: $black;



a {
  transition: all .2s;
  color:$link-color;
  text-decoration:none;
  //box-shadow: 0 1px 0 0 $black50;
  //background-image: linear-gradient(to bottom, $black50 50%, rgba(0,0,0,0) 50%);
  //background-repeat: repeat-x;
  //background-size: 2px .2em;
  //background-position: 0 1.08em;
  //border-bottom:2px solid;
  //border-color:$link-color--hover;
  //display:inline-block;
  //position:relative;
}
a:link,
a:visited {
  color: $link-color;
}
a:hover   {
  transition: all .2s;
  //box-shadow: 0 2px 0 0 $black;
}
a:active {
  transition: all .2s;
  color: $link-color--active;
}
.link {
  text-decoration: none;
  box-shadow:none;
  &:hover{
    background-image:none;
  }
}
.link-underline{
  text-decoration:underline;
  text-decoration-skip: ink;
}
a.button{
  //background-color:$black90;
  //color:$white;
  text-decoration:none;
  padding:$space-m $space-l;
  border:none;
  text-transform:uppercase;
  letter-spacing:.1em;
  font-weight:600;
  font-size:.875rem;
  border-radius:2rem;
}
a.btn-big{
    padding:$space-m $space-l;
}
.color-inherit {
  color: inherit;
}
.current{
  box-shadow: 0 .05em 0 0 $black;
}
