/**
 * Lists
 */
ul, ol, dl {
    padding-left: $space-m;
    margin-top:0;
    margin-bottom: $space-after;
}

li {
  padding-bottom: $space-s;
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/* Definition List Specific */
dl{
  list-style:square;
  dt{
    font-weight:bold;
    padding: $space-s;
  }
  dd{
    padding: $space-s;
    margin:0;
  }
}

.list-reset {
  list-style: none;
  padding-left: 0;
  li{
    padding-bottom:0;
  }
}
