
<div class="py-m">
  <button class="button-primary fit">Full Width CTA button </button>
</div>

<div class="py-m">
  <a class="button-primary fit">Full Width CTA a.button.fit </a>
</div>

<div class="py-m">
  <button class="button-secondary fit">Full Width CTA button </button>
</div>

<div class="py-m">
  <a class="button-secondary fit">Full Width CTA a.button.fit </a>
</div>

<div class="py-m">
  <button class="button-primary"> Standalone CTA button </button>
  <a href="#" class="button-primary"> Standalone CTA a.button </a>
  <button class="button-secondary"> Standalone CTA button </button>
  <a href="#" class="button-secondary"> Standalone CTA a.button </a>
</div>
