// Base Type Size
$base-font-size:   1rem;
$base-line-height: 1.5;


/*

  Previous Type Scales

  s9: 9px,
  s11: 11px,
  s12: 12px,
  s13: 13px,
  s14: 14px,
  s15: 15px,
  s16: 16px,
  s17: 17px,
  s18: 18px,
  s20: 20px,
  s22: 22px,
  s25: 25px,
  s43: 43px,
  */

// Primary Type Scale -- Increments of 8px / .5rem with exceptions
// Ideally all of these are a multiple of 8px / .5rem
// At minimum, new sizes should be a multiple of of 4 / .25rem

//0.75rem; /*12px*
//0.875rem;/*14px*
//1rem;   /*16px*/
//1.25rem;/*20px wonky, ditching*/
//1.5rem; /*24px*/
//2rem;   /*32px*/
//2.5rem; /*40px*/
//3rem;   /*48px*/
//3.5rem; /*56px*/
//4rem;   /*64px*/
//4.5rem; /*72px*/

$s-h6: 0.875rem;
$s-h5: 1rem;
$s-h4: 1.5rem;
$s-h3: 2rem;
$s-h2: 2.5rem;
$s-h1: 3rem;

$f-sizes: (
  's-micro':   0.75rem,
  's-h6':      0.875rem,
  's-h5':      1rem,
  's-h4':      1.5rem,
  's-h3':      2rem,
  's-h2':      2.5rem,
  's-h1':      3rem,
  's-large':   3.5rem,
  's-xlarge':  4rem,
  's-xxlarge': 4.5rem
);

h1, .h1 { font-size: $s-h1 }
h2, .h2 { font-size: $s-h2 }
h3, .h3 { font-size: $s-h3 }
h4, .h4 { font-size: $s-h4 }
h5, .h5 { font-size: $s-h5; line-height:1.5rem; }
h6, .h6 { font-size: $s-h6; line-height:1.5rem; }

/* Basscss Type Scale
$h1: 2rem;    // 32px
$h2: 1.5rem;  // 24px
$h3: 1.25rem; // 20px
$h4: 1rem;    // 16px
$h5: .875rem; // 14px
$h6: .75rem;  // 12px
$small-font-size: .875rem;
*/
