// Declare Font Family Stacks

@font-face {
   font-family: 'akkurat';
      src: url('akkurat-webfont.eot');
      src: url('akkurat-webfont.eot?#iefix') format('embedded-opentype'),
           url('akkurat-webfont.woff') format('woff'),
           url('akkurat-webfont.ttf') format('truetype'),
           url('akkurat-webfont.svg#UbuntuItalic') format('svg');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'akkurat';
      src: url('akkurat-light-webfont.eot');
      src: url('akkurat-light-webfont.eot?#iefix') format('embedded-opentype'),
           url('akkurat-light-webfont.woff') format('woff'),
           url('akkurat-light-webfont.ttf') format('truetype'),
           url('akkurat-light-webfont.svg#UbuntuBold') format('svg');
   font-weight: 700;
   font-style: normal;
}



$sans-font-family: 'aktiv-grotesk', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif ;

$serif-font-family:  Athelas, Georgia, Palatino, Garamond, Cambria, "Times New Roman", Times, serif;

$monospace-font-family: Roboto Mono, Source Code Pro, SFMono, menlo, inconsolata, consolas, 'fira mono','noto mono', 'droid sans mono', 'dejavu sans mono', 'liberation mono', 'ubuntu mono', monaco, 'courier new', monospace;

// Set Heading and Default Base Families
$heading-font-family: $sans-font-family;
$base-font-family: $sans-font-family;
