/*
  If you modify a color here, you're good to go.
  If you add or remove a new color here, you also have to add or remove it in _colors.scss in the main _sass directory.
  That file turns these into classes for text, border, and background.
*/

$white: #fff;
$canvas-blue: #3857e7; //AA
$dark-blue: #2c45b7; //AAA
$grey1: #d7d8dd;
$grey2: #9ca2ac;
$grey3: #6d7582; // AA
$grey4: #354052; // AAA
$red: #e63147; // AA Large
