<div class="container">
<section class="row pt-xl align-items-top">
  <div class="col-12 mb-l">
    <h2 class="grey4 fs-24">How It Works</h2>
  </div>
  <div class="width-100"></div>
  <div class="col-12">
    <section id="how-it-works-01" class="row align-items-center">
      <div class="col-12 col-lg-4 order-md-last "> <div class="bg-grey1-a2 py-xxl my-l text-center grey2">Illustration</div>  </div>
      <div class="col-12 col-lg-8 ">
        <div class="row">
          <div class="col-12 col-md-2">
              <span class="fs-24 sm-fs-32 md-fs-48 fw-300 sm-fw-200 grey1 border-bottom-thin pb-m mb-m inline-block">01</span>
          </div>
          <div class="col-12 col-md-10">
            <h3 class="fs-24 sm-fs-32 md-fs-48 fw-300 sm-fw-200 pb-m"> Select your car </h3>
            <p class="">3 Days, 100% Guaranteed</p>
            <p class="h6 measure grey3"> All our vehicles are pre-owned, less than 3 years old, and carefully inspected. </p>
          </div>
        </div>
      </div>
    </section>
    <section id="how-it-works-02" class="row pt-xl align-items-center">
      <div class="col-12 col-lg-4 order-md-last "> <div class="bg-grey1-a2 py-xxl my-l text-center grey2">Illustration</div>  </div>
      <div class="col-12 col-lg-8">
        <div class="row">
          <div class="col-12 col-md-2">
              <span class="fs-24 sm-fs-32 md-fs-48 fw-300 sm-fw-200 grey1 border-bottom-thin pb-m mb-m inline-block">02</span>
          </div>
          <div class="col-12 col-md-10">
            <h3 class="fs-24 sm-fs-32 md-fs-48 fw-300 sm-fw-200 pb-m"> Choose your monthly mileage package </h3>
            <p class=" ">Packages from 500 to unlimited miles per month </p>
            <p class="h6 measure grey3"> For fixed mileage plans, all unused miles rollover to the next month. You can upgrade or downgrade your package at any time.  </p>
          </div>
        </div>
      </div>
    </section>
    <section id="how-it-works-03" class="row pt-xl align-items-center">
      <div class="col-12 col-lg-4 order-md-last "> <div class="bg-grey1-a2 py-xxl my-l text-center grey2">Illustration</div>  </div>
      <div class="col-12 col-lg-8">
        <div class="row">
          <div class="col-12 col-md-2">
              <span class="fs-24 sm-fs-32 md-fs-48 fw-300 sm-fw-200 grey1 border-bottom-thin pb-m mb-m inline-block">03</span>
          </div>
          <div class="col-12 col-md-10">
            <h3 class="fs-24 sm-fs-32 md-fs-48 fw-300 sm-fw-200 pb-m"> Schedule your delivery </h3>
            <p class=" ">Home or Office, 7 Days A Week </p>
            <p class="h6 measure grey3">  Delivered by a knowledgeable rep who will answer your questions and get you moving in no time.  </p>
          </div>
        </div>
      </div>
    </section>
    <section id="how-it-works-04" class="row pt-xl align-items-center">
      <div class="col-12 col-lg-4 order-md-last "> <div class="bg-grey1-a2 py-xxl my-l text-center grey2">Illustration</div>  </div>
      <div class="col-12 col-lg-8">
        <div class="row">
          <div class="col-12 col-md-2">
              <span class="fs-24 sm-fs-32 md-fs-48 fw-300 sm-fw-200 grey1 border-bottom-thin pb-m mb-m inline-block">04</span>
          </div>
          <div class="col-12 col-md-10">
            <h3 class="fs-24 sm-fs-32 md-fs-48 fw-300 sm-fw-200 pb-m"> Drive without worry </h3>
            <p class=" ">A lot is included</p>
            <p class="h6 measure grey3"> Your subscription comes with maintenance, insurance, warranty, roadside assistance, and registration.  </p>
          </div>
        </div>
      </div>
    </section>
    <section id="how-it-works-05" class="row pt-xl align-items-center">
      <div class="col-12 col-lg-4 order-md-last "> <div class="bg-grey1-a2 py-xxl my-l text-center grey2">Illustration</div>  </div>
      <div class="col-12 col-lg-8">
        <div class="row">
          <div class="col-12 col-md-2">
              <span class="fs-24 sm-fs-32 md-fs-48 fw-300 sm-fw-200 grey1 border-bottom-thin pb-m mb-m inline-block">05</span>
          </div>
          <div class="col-12 col-md-10">
            <h3 class="fs-24 sm-fs-32 md-fs-48 fw-300 sm-fw-200 pb-m"> Renew or return, hassle free </h3>
            <p class=" ">Month-to-month flexibility </p>
            <p class="h6 measure grey3">  At month's end, you can return your car or renew your subscription. Hello, flexibility. Hello, peace of mind. </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
</div>
