<div class="container">
<section class="row pt-xl align-items-top">
  <div class="col-12">
    <h2 class="grey4 fs-24 section-header">How It Works </h2>
  </div>
  <div class="width-100"></div>
  <!-- Steps Nav -->
  <!-- <div class="col-12 col-md-2">
    <nav id="hiwNav" class="scrollspy" data-spy="affix">
      <ul class="nav list-reset row align-items-center">
        <li class="col-2 col-md-12"><a href="#how-it-works-01" class="block fs-24 fw-300 py-m">01</a></li>
        <li class="col-2 col-md-12"><a href="#how-it-works-02" class="block fs-24 fw-300 py-m">02</a></li>
        <li class="col-2 col-md-12"><a href="#how-it-works-03" class="block fs-24 fw-300 py-m">03</a></li>
        <li class="col-2 col-md-12"><a href="#how-it-works-04" class="block fs-24 fw-300 py-m">04</a></li>
        <li class="col-2 col-md-12"><a href="#how-it-works-05" class="block fs-24 fw-300 py-m">05</a></li>
      </ul>
    </nav>
  </div> -->
  <!-- Steps -->

  <div class="col-12">

      <div id="how-it-works-01" class="row pt-xl align-items-center">
        <div class="col-12 col-md-2 order-md-first align-self-start">
          <span class="fs-32 md-fs-48 fw-200 border-right-thin border-bottom-thin border-grey1 canvas-blue pr-s pb-xs">01</span>
        </div>
        <div class="col-12 col-md-4 order-md-last px-l"> <div class="border border-grey1 py-xxl my-l text-center ">Illustration</div>  </div>
        <div class="col-12 col-md-6 mt-xl">
          <h3 class="fs-24 sm-fs-32 md-fs-48 fw-300 pb-m"> Select your car. </h3>
          <p class="grey3">3 Days, 100% Guaranteed.</p>
          <p class="h6 measure grey3"> All our vehicles are pre-owned, less than 3 years old, and rigourously inspected. </p>
        </div>
      </div>
      <div id="how-it-works-02" class="row pt-xl align-items-center">
        <div class="col-12 col-md-2 order-md-first align-self-start">
          <span class="fs-32 md-fs-48 fw-200 border-right-thin border-bottom-thin border-grey1 canvas-blue pr-s pb-xs">02</span>
        </div>
        <div class="col-12 col-md-4 order-md-last px-l"> <div class="border border-grey1 py-xxl my-l text-center ">Illustration</div>  </div>
        <div class="col-12 col-md-6 mt-xl">
          <h3 class="fs-24 sm-fs-32 md-fs-48 fw-300 pb-m"> Choose your monthly mileage package. </h3>
          <p class=" grey3"> Packages from 500 to unlimited miles per month. </p>
          <p class="h6 measure grey3">  All unused miles rollover to the next month and you can upgrade or downgrade you package at any time.  </p>
        </div>
      </div>
      <div id="how-it-works-03" class="row pt-xl align-items-center">
        <div class="col-12 col-md-2 order-md-first align-self-start">
          <span class="fs-32 md-fs-48 fw-200 border-right-thin border-bottom-thin border-grey1 canvas-blue pr-s pb-xs">03</span>
        </div>
        <div class="col-12 col-md-4 order-md-last px-l"> <div class="border border-grey1 py-xxl my-l text-center ">Illustration</div>  </div>
        <div class="col-12 col-md-6 mt-xl">
          <h3 class="fs-24 sm-fs-32 md-fs-48 fw-300 pb-m"> Schedule your delivery. </h3>
          <p class=" grey3"> Home or Office, 7 Days A Week </p>
          <p class="h6 measure grey3">  Delivered by a knowledgeable rep who will answer your questions and get you moving in no time.  </p>
        </div>
      </div>
      <div id="how-it-works-04" class="row pt-xl align-items-center">
        <div class="col-12 col-md-2 order-md-first align-self-start">
          <span class="fs-32 md-fs-48 fw-200 border-right-thin border-bottom-thin border-grey1 canvas-blue pr-s pb-xs">04</span>
        </div>
        <div class="col-12 col-md-4 order-md-last px-l"> <div class="border border-grey1 py-xxl my-l text-center ">Illustration</div>  </div>
        <div class="col-12 col-md-6 mt-xl">
          <h3 class="fs-24 sm-fs-32 md-fs-48 fw-300 pb-m"> Drive without worry. </h3>
          <p class=" grey3"> Everything is included. </p>
          <p class="h6 measure grey3">  Maintenance, insurance, warranty, roadside assistance, and registration...pretty much everything except for gas.  </p>
        </div>
      </div>
      <div id="how-it-works-05" class="row pt-xl align-items-center">
        <div class="col-12 col-md-2 order-md-first align-self-start">
          <span class="fs-32 md-fs-48 fw-200 border-right-thin border-bottom-thin border-grey1 canvas-blue pr-s pb-xs">05</span>
        </div>
        <div class="col-12 col-md-4 order-md-last px-l"> <div class="border border-grey1 py-xxl my-l text-center ">Illustration</div>  </div>
        <div class="col-12 col-md-6 mt-xl">
          <h3 class="fs-24 sm-fs-32 md-fs-48 fw-300 pb-m"> Keep or return, hassle free. </h3>
          <p class=" grey3"> Renew or return. </p>
          <p class="h6 measure grey3">  At month's end, you can return your car or keep it. Hello, flexibility. Hello, peace of mind. </p>
        </div>
      </div>



  </div>
</section>
</div>
