<div class="container">
<section class="row py-xl">
  <div class="col-12 mb-xl">
    <h2 class="grey4 fs-24 section-header">Why Canvas?</h2>
  </div>
  <div class="width-100"></div>
  <nav class="tabs col-12">
    <div class="row">
      <div class="col-5 col-lg-4 col-xl-3 offset-lg-1 offset-xl-2 text-center align-self-end">
        <a href="#drivingWithCanvas" class="block py-m px-l h5 grey3">Driving with Canvas</a>
      </div>
      <div class="col-2 text-center text-center align-self-end">
        <div class="py-m h5">VS</div>
      </div>
      <div class="col-5 col-lg-4 col-xl-3 text-center align-self-end">
        <a href="#traditionalOwnership" class="block py-m px-l h5 grey3">Traditional Ownership</a>
      </div>
    </div>
  </nav>
  <div class="width-100"></div>

  <!-- Start Canvas benefit Loop -->
  <div id="drivingWithCanvas" class="col-12 col-md-8 offset-md-2">
    <!-- Each Component for a Canvas Benefit -->
    <div class="row py-l">
      <div class="col-12 col-md-3 grey2 ">
        <!-- <div class="p-l width-0 bg-canvas-blue circle"> </div> -->
        <svg id="Flexibility" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" width="96">
          <defs><style>.cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs>
          <title>Flexibility</title>
          <path class="cls-1" d="M8,48a24,24,0,0,1,48,0"/>
          <path class="cls-1" d="M26,48c0-13.25,2.69-24,6-24s6,10.75,6,24"/>
          <polyline class="cls-1" points="56 48 56 88 8 88 8 48"/>
          <polyline class="cls-1" points="38 84 38 88 26 88 26 48"/>
          <polyline class="cls-1" points="48 84 48 88 16 88 16 48"/>
          <path class="cls-1" d="M16,48c0-13.25,7.16-24,16-24S48,34.75,48,48"/>
          <line class="cls-1" x1="64" y1="48" x2="64" y2="84"/>
          <line class="cls-1" x1="8" y1="84" x2="56" y2="84"/>
          <polyline class="cls-1" points="8 48 74 48 74 84 56 84 56 48"/>
          <path class="cls-1" d="M72,16a8,8,0,0,1,0,16L56,16H72"/>
          <polyline class="cls-1" points="72 32 64 32 56 24 64 24"/>
          <path class="cls-1" d="M88,16l-2.17-1.08a4,4,0,1,0,0,2.17Z"/>
          <circle fill="currentColor" cx="82" cy="16" r="1"/>
        </svg>
      </div>
      <div class="col-12 col-md-9 ">
        <h3 class="fs-24 mb-m"> Flexibility </h3>
        <p>Its simple. You commit to a month, and after that, you do what you want: keep driving or return your car. There are no hidden fees or penalties, and there are no long-term commitments.</p>
        <!-- <p><a href="https://drivecanvas.zendesk.com/hc/en-us/articles/115006230448-Why-Canvas-Flexibility">Link</a></p> -->
      </div>
    </div>

    <div class="row py-l">
      <div class="col-12 col-md-3 grey2 ">
        <!-- <div class="p-l width-0 bg-canvas-blue circle"> </div> -->
        <svg id="All Inclusive" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" width="96">
          <defs>
            <style>.cls-1{fill:none;}.cls-1,.cls-2{stroke:currentColor;stroke-linejoin:round;stroke-width:2px;}.cls-2{fill:#fff;stroke-linecap:round;}</style>
          </defs>
          <title>All Inclusive</title>
          <path class="cls-1" d="M28.85,34.09l32.3,32.3a10,10,0,1,0,5.66-5.66l-32.3-32.3a10,10,0,0,0-13-13l5.28,5.28-1.2,4.46-4.46,1.2-5.28-5.28a10,10,0,0,0,13,13ZM74.91,68.84l-1.2,4.46-4.46,1.2L66,71.23l1.2-4.46,4.46-1.2Z"/><rect class="cls-2" x="37.29" y="48.53" width="16" height="4" transform="translate(41.59 118.29) rotate(-135)"/>
          <path class="cls-1" d="M39.64,47.71,18.2,69.14a6,6,0,0,0,8.49,8.49L48.12,56.19Z"/>
          <rect class="cls-2" x="56.73" y="20.1" width="4" height="34" transform="translate(43.43 -30.66) rotate(45)"/>
          <polygon class="cls-1" points="79.23 19.42 76.41 16.59 67.92 22.25 73.58 27.91 79.23 19.42"/>
          <line class="cls-2" x1="42.47" y1="50.53" x2="21.25" y2="71.75"/>
          <line class="cls-2" x1="45.29" y1="53.36" x2="24.08" y2="74.58"/>
          <line class="cls-2" x1="63.59" y1="63.18" x2="58.11" y2="57.69"/><line class="cls-2" x1="38.14" y1="37.72" x2="32.65" y2="32.24"/>
        </svg>
      </div>
      <div class="col-12 col-md-9 ">
        <h3 class="fs-24 mb-m"> All-Inclusive </h3>
        <p>We have made a conscious effort to include everything with your car so that you have nothing to worry about. Maintenance? Insurance? Extended warranty? We have all of that covered for you. </p>
        <!-- <p><a href="https://drivecanvas.zendesk.com/hc/en-us/articles/115006230488-Why-Canvas-All-Inclusive">Link</a></p> -->
      </div>
    </div>

    <div class="row py-l">
      <div class="col-12 col-md-3 grey2 ">
        <!-- <div class="p-l width-0 bg-canvas-blue circle"> </div> -->
        <svg id="3DayGuarantee" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" width="96">
          <defs><style>.cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs>
          <title>3-Day Get It Right Guarantee</title>
          <polygon class="cls-1" points="31.88 35.12 29.05 32.29 26.22 35.12 29.05 37.95 31.88 40.78 34.71 37.95 41.78 30.88 38.95 28.05 31.88 35.12"/>
          <polygon class="cls-1" points="31.88 56.12 29.05 53.29 26.22 56.12 29.05 58.95 31.88 61.78 34.71 58.95 41.78 51.88 38.95 49.05 31.88 56.12"/>
          <polygon class="cls-1" points="31.88 76.12 29.05 73.29 26.22 76.12 29.05 78.95 31.88 81.78 34.71 78.95 41.78 71.88 38.95 69.05 31.88 76.12"/>
          <path class="cls-1" d="M52,12a4,4,0,0,0-8,0H32v8H64V12Z"/>
          <polygon class="cls-1" points="64 16 64 20 32 20 32 16 20 16 20 88 76 88 76 16 64 16"/>
          <path fill="currentColor" d="M48,11a1,1,0,1,0,1,1,1,1,0,0,0-1-1Z"/>
          <line class="cls-1" x1="48" y1="32" x2="70" y2="32"/>
          <line class="cls-1" x1="48" y1="36" x2="70" y2="36"/>
          <line class="cls-1" x1="48" y1="40" x2="70" y2="40"/>
          <line class="cls-1" x1="48" y1="52" x2="70" y2="52"/>
          <line class="cls-1" x1="48" y1="56" x2="70" y2="56"/>
          <line class="cls-1" x1="48" y1="60" x2="70" y2="60"/>
          <line class="cls-1" x1="48" y1="72" x2="70" y2="72"/>
          <line class="cls-1" x1="48" y1="76" x2="70" y2="76"/>
          <line class="cls-1" x1="48" y1="80" x2="70" y2="80"/>
        </svg>
      </div>
      <div class="col-12 col-md-9 ">
        <h3 class="fs-24 mb-m"> 3-Day, Get-it-Right Guarantee </h3>
        <p> We offer a 3-day, 100-mile refund policy. If you realize in the first 3 days that your new car just doesn’t feel right or work for you, we will take it back. </p>
        <!-- <p><a href="https://drivecanvas.zendesk.com/hc/en-us/articles/115006048847-Why-Canvas-3-day-Get-It-Right-Guarantee">Link</a></p> -->
      </div>
    </div>

    <div class="row py-l">
      <div class="col-12 col-md-3 grey2 ">
        <!-- <div class="p-l width-0 bg-canvas-blue circle"> </div> -->
        <svg id="Transparency" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" width="96">
          <defs><style>.cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs>
          <title>Transparency</title>
          <polyline class="cls-1" points="80 16 84 16 84 88 36 88 36 84"/>
          <polyline class="cls-1" points="76 12 80 12 80 84 32 84 32 80"/>
          <polyline class="cls-1" points="28 16 28 8 76 8 76 80 28 80 28 48"/>
          <path class="cls-1" d="M6,32a30,30,0,0,1,48,0A30,30,0,0,1,6,32Z"/>
          <circle class="cls-1" cx="30" cy="32" r="6"/>
          <line class="cls-1" x1="36" y1="16" x2="68" y2="16"/>
          <line class="cls-1" x1="36" y1="48" x2="68" y2="48"/>
          <line class="cls-1" x1="36" y1="56" x2="68" y2="56"/>
          <line class="cls-1" x1="36" y1="64" x2="68" y2="64"/>
          <line class="cls-1" x1="36" y1="72" x2="68" y2="72"/>
          <line class="cls-1" x1="56" y1="24" x2="68" y2="24"/>
          <line class="cls-1" x1="56" y1="40" x2="68" y2="40"/>
          <line class="cls-1" x1="64" y1="32" x2="68" y2="32"/>
        </svg>
      </div>
      <div class="col-12 col-md-9 ">
        <h3 class="fs-24 mb-m"> Transparency </h3>
        <p> We want to be as transparent with our customers as possible. Why? Because we believe transparency is at the core of every good relationship. Want to better understand something about our program or how we do business? Reach out to us. We’re here for you.</p>
        <!-- <p><a href="https://drivecanvas.zendesk.com/hc/en-us/articles/115006048887-Why-Canvas-Transparency">Link</a></p> -->
      </div>
    </div>
    <!-- End Component for a Canvas Benefit -->
  </div>
  <!-- End Canvas Benefit loop. -->

  <!-- Start Traditional Ownership Loop -->
  <div id="traditionalOwnership" class="col-12 col-md-8 offset-md-2 ">
    <!-- <p>(traditional ownership)</p> -->
    <!-- Each Component for a Traditional Ownership -->
    <div class="row py-l">
      <div class="col-12 col-md-3">
        <div class="p-l width-0 bg-canvas-blue circle">

        </div>
      </div>
      <div class="col-12 col-md-9">
        <h3 class="fs-24 mb-m"> You’re Committed </h3>
        <p>Car financing was invented almost 100 years ago and little has changed since then….why? Why do people need to commit to owning their car for years? Why feel compelled to stay in a single car for so long?</p>
        <p><a href="https://drivecanvas.zendesk.com/hc/en-us/articles/115006048907-Why-Canvas-You-re-Committed">Link</a></p>
      </div>
    </div>
    <!-- End Component for a Traditional drawback -->

    <div class="row py-l">
      <div class="col-12 col-md-3">
        <div class="p-l width-0 bg-canvas-blue circle">

        </div>
      </div>
      <div class="col-12 col-md-9">
        <h3 class="fs-24 mb-m"> It can be expensive </h3>
        <p>At times, owning a car can be costly. Once any warranty and/or maintenance packages expire, you’re on the hook for quite a bit: out-of-pocket upkeep, repairs, maintenance…the list goes on and it can be a lot! Not to mention, if you’re considering a used car, you’re really rolling the dice. Why can’t all of the be more like a set-it-and-forget-it experience?</p>
        <p><a href="https://drivecanvas.zendesk.com/hc/en-us/articles/115006230608-Why-Canvas-It-can-be-expensive">Link</a></p>
      </div>
    </div>

    <div class="row py-l">
      <div class="col-12 col-md-3">
        <div class="p-l width-0 bg-canvas-blue circle">

        </div>
      </div>
      <div class="col-12 col-md-9">
        <h3 class="fs-24 mb-m"> Buying is long-winded </h3>
        <p>On average, car shoppers spend more than a month researching an upcoming car purchase. And then on the day you’re ready to buy that car, you’ll spend 3+ hours with the seller! Why does the process need to be so lengthy?</p>
        <p><a href="https://drivecanvas.zendesk.com/hc/en-us/articles/115006049147-Why-Canvas-Buying-is-long-winded">Link</a></p>
      </div>
    </div>

    <div class="row py-l">
      <div class="col-12 col-md-3">
        <div class="p-l width-0 bg-canvas-blue circle">

        </div>
      </div>
      <div class="col-12 col-md-9">
        <h3 class="fs-24 mb-m"> Selling is a pain </h3>
        <p>You can post your car in the classifieds, but it could take months to sell and involve countless back-and-forth conversations with strangers and people haggling with you. Why can’t the whole “getting rid of your car” process be as straightforward as giving back a rental car?</p>
        <p><a href="https://drivecanvas.zendesk.com/hc/en-us/articles/115006230748-Why-Canvas-Selling-is-a-pain">Link</a></p>
      </div>
    </div>
  </div>
  <!-- End Traditional Ownership loop. -->

</section>
</div>
