//
//  If you modify a color here, you're good to go.
//  If you add or remove a new color here, you also have to add or remove it in _colors.scss in the main _sass directory.
//  That file turns these into classes for text, border, and background.

$canvas-blue: #3857e7; //AA
$medium-blue: #304cca; //AA
$dark-blue: #2c45b7; //AAA
$teal: #37e6c8; //AAA on dark, Fail on white
$light-gold: #fbf3de;
$gold: #ffd966; // Fail on White, AA on dark

// Solids
$grey0: #f2f5fa;
$grey1: #d3d6de;
$grey2: #91959e;
$grey3: #626a7a;
$grey4: #373e4d;
$grey5: #1c2230;

// Alphas
$grey0-a: rgba(21, 50, 115, 0.05);
$grey1-a: rgba(29, 45, 82, 0.2);
$grey2-a: rgba(33, 43, 64, 0.5);
$grey3-a: rgba(33, 43, 64, 0.7);
$grey4-a: rgba(33, 41, 59, 0.9);
$grey5-a: rgba(15, 23, 38, 0.95);

$red: #e63147; // AA Large
$black: #000;
$white: #fff;

$colors: (
  'transparent': rgba($white, 0),
  'canvas-blue': $canvas-blue,
  'medium-blue': $medium-blue,
  'dark-blue': $dark-blue,
  'teal': $teal,
  'gold': $gold,
  'light-gold': $light-gold,
  'grey0': $grey0,
  'grey1': $grey1,
  'grey2': $grey2,
  'grey3': $grey3,
  'grey4': $grey4,
  'grey5': $grey5,
  'grey0-a': $grey0-a,
  'grey1-a': $grey1-a,
  'grey2-a': $grey2-a,
  'grey3-a': $grey3-a,
  'grey4-a': $grey4-a,
  'grey5-a': $grey5-a,
  'red': $red,
  'white': $white,
  'black': $black
);
