/*
  If you modify a color here, you're good to go.
  If you add or remove a new color here, you also have to add or remove it in _colors.scss in the main _sass directory.
  That file turns these into classes for text, border, and background.
*/

$white: #fff;
$canvas-blue: #3857e7; //AA
$medium-blue: #304CCA; //AA
$dark-blue: #2c45b7; //AAA
$teal: #23CFB1; //AAA on dark, Fail on white
$teal-medium: #29A395; // AA large on white,
$teal-dark:#22877B; // AA on white
$gold:#F5C229; // Fail on White, AA on dark
$gold-dark: #BB8D02; // AA large on white
$grey1: #d7d8dd; // Fail on white
$grey2: #9ca2ac; // Fail on white AA on dark
$grey3: #6d7582; // AA
$grey4: #354052; // AAA
$red: #e63147; // AA Large
$black: #000;
