.transition-01s {
  transition: all .1s;
}

.transition-02s {
  transition: all .2s;
}

.transition-03s {
  transition: all .3s;
}

.transition-ease {
  transition-timing-function: ease;
}

.transition-ease-out {
  transition-timing-function: ease-out;
}

.transition-ease-in {
  transition-timing-function: ease-in;
}

.transition-ease-in-out {
  transition-timing-function: ease-in-out;
}

.transition-cubic {
  transition-timing-function: cubic-bezier(1, 0, 1, 0);
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.rotate-360 {
  transform: rotate(360deg);
}

.origin-t {
  transform-origin: top;
}

.origin-l {
  transform-origin: left;
}

.origin-r {
  transform-origin: right;
}

.origin-b {
  transform-origin: bottom;
}

.origin-rt {
  transform-origin: right top;
}

.origin-lb {
  transform-origin: left bottom;
}

@mixin quarter-second-transition {
  transition-duration: .25s;
}

@mixin half-second-transition {
  transition-duration: .5s;
}

@mixin one-em-border-radius {
  border-radius: 1em;
}

@mixin pseudo-block {
  display: block;
  content: " ";
  position: absolute;
  @include quarter-second-transition;
}


// BOOTSTRAP COMPONENT CSS
// Sticky headers

.affix {
  position: fixed;
  top: 0;
}

.affix-bottom {
  position: absolute;
}

// Homepage Animations
@keyframes floating-effect {
  0% {
    transform: translate3d(0, 0, 0);
  }

  33% {
    transform: translate3d(0, 2rem, 0);
  }

  80% {
    transform: translate3d(0, -1.5rem, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.a-floating-effect {
  animation: floating-effect 60s ease infinite;
}

@keyframes radar-effect {
  0% {
    opacity: 1;
    transform: scale(.5, .5);
  }

  40% {
    opacity: 0;
    transform: scale(2, 2);
  }

  100% {
    opacity: 0;
    transform: scale(2, 2);
  }
}

.a-radar-effect {
  animation: radar-effect 5s ease infinite;
}

.bounce {
  animation: bounce .75s infinite ease alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0.5rem);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0.5rem);
  }
}



// @-webkit-keyframes shine-loading {
//    0%{background-position:0% 92%}
//    50%{background-position:100% 9%}
//    100%{background-position:0% 92%}
// }
// @-moz-keyframes shine-loading {
//    0%{background-position:0% 92%}
//    50%{background-position:100% 9%}
//    100%{background-position:0% 92%}
// }
// @keyframes shine-loading {
//    0%{background-position:0% 92%}
//    50%{background-position:100% 9%}
//    100%{background-position:0% 92%}
// }

// .shine-loading{
//   -webkit-animation: shine-loading 4s ease infinite;
//   -moz-animation: shine-loading 4s ease infinite;
//   animation: shine-loading 4s ease infinite;
//   background: linear-gradient(to right, $grey0 0%, $grey0 40%, $grey1 50%, $grey0 60%, $grey0 100%) !important;
//   background-size: 400% 400% !important;
// }

.shine-loading{
  background-image: linear-gradient(to right, $grey0 10%, #ddd 30%, $grey0 50%, $grey0 100%);
  background-size: 200% 100%;
  -webkit-animation: shine-loading 1s  infinite;
  -moz-animation: shine-loading 1s  infinite;
  animation: shine-loading 1s  infinite;
}

@keyframes shine-loading {
  0%{background-position:100% 0%}
  100%{background-position:-100% 0%}
}

// Animation Utilities
.a-reverse {
  animation-direction: reverse;
}

.a-delay1s {
  animation-delay: 1s;
}

.a-delay2s {
  animation-delay: 2s;
}

.a-delay3s {
  animation-delay: 3s;
}
