// Basscss Border

$border-width: 1px;
$border-width-hover: .4rem;
$border-width-thin: 1px;
$border-width-thick: 2px;
$border-width-thick-8: 8px;
$rounded-border-radius: 2px;

$default-border-color: $grey1-a;

// Borders
// -------

$borders: (
  '',
  '-left',
  '-top',
  '-right',
  '-bottom',
);

@media only screen and (max-width : $screen-sm-min) {
  @each $border in $borders {
    .border-xs#{$border} {
      border#{$border}: solid 1px $default-border-color;
    }

    .no-border-xs#{$border} {
      border#{$border}: 0;
    }
  }
}

@media only screen and (min-width : $screen-sm-min) {
  @each $border in $borders {
    .border-xs#{$border} {
      border#{$border}: solid 1px $default-border-color;
    }

    .border-sm#{$border} {
      border#{$border}: solid 1px $default-border-color;
    }

    .no-border-xs#{$border} {
      border#{$border}: 0;
    }

    .no-border-sm#{$border} {
      border#{$border}: 0;
    }
  }
}

@media only screen and (min-width : $screen-md-min) {
  @each $border in $borders {
    .border-xs#{$border} {
      border#{$border}: solid 1px $default-border-color;
    }

    .border-sm#{$border} {
      border#{$border}: solid 1px $default-border-color;
    }

    .border-md#{$border} {
      border#{$border}: solid 1px $default-border-color;
    }

    .no-border-xs#{$border} {
      border#{$border}: 0;
    }

    .no-border-sm#{$border} {
      border#{$border}: 0;
    }

    .no-border-md#{$border} {
      border#{$border}: 0;
    }
  }
}

@media only screen and (min-width : $screen-lg-min) {
  @each $border in $borders {
    .border-xs#{$border} {
      border#{$border}: solid 1px $default-border-color;
    }

    .border-sm#{$border} {
      border#{$border}: solid 1px $default-border-color;
    }

    .border-md#{$border} {
      border#{$border}: solid 1px $default-border-color;
    }

    .border-lg#{$border} {
      border#{$border}: solid 1px $default-border-color;
    }

    .no-border-xs#{$border} {
      border#{$border}: 0;
    }

    .no-border-sm#{$border} {
      border#{$border}: 0;
    }

    .no-border-md#{$border} {
      border#{$border}: 0;
    }

    .no-border-lg#{$border} {
      border#{$border}: 0;
    }
  }
}

// ALEX'S STYLES
// TODO: deprecate
.border {
  border-style: solid;
  border-width: $border-width;
}

.border-top {
  border-top-style: solid;
  border-top-width: $border-width;
}

.border-right {
  border-right-style: solid;
  border-right-width: $border-width;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: $border-width;
}

.border-left {
  border-left-style: solid;
  border-left-width: $border-width;
}

.border-top-thick {
  border-top-style: solid;
  border-top-width: $border-width-thick;
}

.border-right-thick {
  border-right-style: solid;
  border-right-width: $border-width-thick;
}

.border-bottom-thick {
  border-bottom-style: solid;
  border-bottom-width: $border-width-thick;
}

.border-left-thick {
  border-left-style: solid;
  border-left-width: $border-width-thick;
}

.border-dotted {
  border-style: dotted;
  border-width: 1px;
}

// END of deprecation

.border-0 {
  border: 0;
}

.border-width-2 {
  border-width: $border-width-thick;
}

.border-width-8 {
  border-width: $border-width-thick-8;
}

.rounded {
  border-radius: $rounded-border-radius;
}

.rounded-pill {
  border-radius: 50rem;
}

.circle {
  border-radius: 50%;
}

.rounded-top {
  border-radius: $rounded-border-radius $rounded-border-radius 0 0;
}

.rounded-right {
  border-radius: 0 $rounded-border-radius $rounded-border-radius 0;
}

.rounded-bottom {
  border-radius: 0 0 $rounded-border-radius $rounded-border-radius;
}

.rounded-left {
  border-radius: $rounded-border-radius 0 0 $rounded-border-radius;
}

.not-rounded {
  border-radius: 0;
}

.not-rounded-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
