// Basscss Border

$border-width: 1px;
$border-width-hover: .4rem;
$border-width-thin: 1px;
$border-width-thick: 2px;
$border-width-thick-8: 8px;
$rounded-border-radius: 2px;

$default-border-color: $grey1-a;

// Borders
// -------

$borders: (
  '',
  '-left',
  '-top',
  '-right',
  '-bottom',
);

@each $border in $borders {
  .border#{$border} {
    border#{$border}: solid 1px $default-border-color;
  }

  .no-border#{$border} {
    border#{$border}: 0;
  }
}

@include breakpoint('sm') {
  @each $border in $borders {
    .border-sm#{$border} {
      border#{$border}: solid 1px $default-border-color;
    }

    .no-border-sm#{$border} {
      border#{$border}: 0;
    }
  }
}

@include breakpoint('md') {
  @each $border in $borders {
    .border-md#{$border} {
      border#{$border}: solid 1px $default-border-color;
    }

    .no-border-md#{$border} {
      border#{$border}: 0;
    }
  }
}

@include breakpoint('lg') {
  @each $border in $borders {
    .border-lg#{$border} {
      border#{$border}: solid 1px $default-border-color;
    }

    .no-border-lg#{$border} {
      border#{$border}: 0;
    }
  }
}

@media screen and (min-width: map-get($breakpoints, 'xl')) {
  @each $border in $borders {
    .border-xl#{$border} {
      border#{$border}: solid 1px $default-border-color;
    }

    .no-border-xl#{$border} {
      border#{$border}: 0;
    }
  }
}

/**
 * Widths
 */

.border-0 {
  border: 0;
}

.border-width-2 {
  border-width: $border-width-thick;
}

.border-width-8 {
  border-width: $border-width-thick-8;
}

/**
 * Radiuses
 */

.rounded {
  border-radius: $rounded-border-radius;
}

.circle {
  border-radius: 50%;
}

.rounded-top {
  border-radius: $rounded-border-radius $rounded-border-radius 0 0;
}

.rounded-right {
  border-radius: 0 $rounded-border-radius $rounded-border-radius 0;
}

.rounded-bottom {
  border-radius: 0 0 $rounded-border-radius $rounded-border-radius;
}

.rounded-left {
  border-radius: $rounded-border-radius 0 0 $rounded-border-radius;
}

.not-rounded {
  border-radius: 0;
}

.not-rounded-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
