$link-color: $canvas-blue;
$link-color--hover: $canvas-blue;
$link-color--active: $dark-blue;

$nav-link-color: $grey4-a !default;
$nav-link-color--hover: $grey4;
$nav-link-color--active: $grey4;

a {
  transition: all .1s;
  color: $link-color;
  text-decoration: none;

  &:visited {
   // color: $link-color;
  }

  &:hover {
    color: $link-color--hover;
    text-decoration: underline;
  }

  &:active {
    color: $link-color--active;
  }
}

a:link,
a:visited {
//  color: $link-color;
}
// Use .link class for standalone links
.link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.link-underline {
  text-decoration: underline;
}

.color-inherit {
  color: inherit;
}

nav {
  a:link,
  a:visited {
    color: $nav-link-color;
  }

  a {
    color: $nav-link-color;
    text-decoration: none;

    &:hover {
      color: $nav-link-color--hover;
      text-decoration: none;
    }

    &:active {
      color: $nav-link-color--active;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}


@each $color-name, $color-value in $colors {
  a.#{$color-name} {
    color: $color-value;

    &:hover {
      color: $color-value;
    }

    &:active {
      color: $color-value;
    }
  }
}
