a {
  transition: all .1s;
  color:var(--link-color);
  text-decoration:underline;
  &:visited{
    color:var(--link-color);
  }
  &:hover{
    color:var(--link-color--hover);
  }
  &:active{
    color:var(--link-color--active);
  }
}
a:link,
a:visited {
  color: var(--link-color);
}

// Use .link class for standalone links
.link {
  text-decoration: none;
  &:hover{
    text-decoration:none;
  }
}
.link-underline{
  text-decoration:underline;
  text-decoration-skip: ink;
}
