/**
 * Lists
 */

ul, ol, dl {
    margin-bottom: $space-m;
    margin-top: 0;
}

ul, dl {
  padding-left: 0;
}

ol {
  list-style-type: decimal-leading-zero;
  padding-left: $space-m;
}

li {
  line-height: 1.5rem;
  padding-bottom: $space-s;

  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/* Definition List Specific */

dl {
  list-style: square;

  dt {
    font-weight: bold;
    padding: $space-s;
  }

  dd {
    margin: 0;
    padding-bottom: $space-s;
  }
}

.list-reset,
.list-style-none {
  list-style: none;
}

.list-check {
  list-style: none;

  li {
    padding-left: 1.5rem;
    position: relative;

    &:before {
      background-image: url('../icons/icon-checkmark.svg');
      background-position: 0 2px;
      background-size: contain;
      content: ' ';
      display: block;
      height: 1em;
      left: -1.5rem;
      position: absolute;
      width: 1em;
    }
  }
}
