$properties: (
  'm': 'margin',
  'p': 'padding',
);

$directions: (
 '':  (''),
 'y': ("-bottom", "-top"),
 'x': ("-left", "-right"),
 'l': ('-left'),
 'r': ('-right'),
 't': ('-top'),
 'b': ('-bottom')
);

$positive-spaces: (
  '0': 0,
  'xs': $space-xs,
  's': $space-s,
  'm': $space-m,
  'l': $space-l,
  'xl': $space-xl,
  'xxl': $space-xxl,
  'xxxl': $space-xxxl
);

// $negative-spaces: (
// 'xs': -$space-xs,
// 's': -$space-s,
// 'm': -$space-m,
// 'l': -$space-l,
// 'xl': -$space-xl,
// 'xxl': -$space-xxl,
// 'xxxl': -$space-xxxl
// );

@each $property-name, $property-value in $properties {
  @each $direction-name, $direction-values in $directions {
    @each $space-name, $space-value in $positive-spaces {
      .#{$property-name}#{$direction-name}-#{$space-name} {
        @each $direction-value in $direction-values {
          #{$property-value}#{$direction-value}: #{$space-value};
        }
      }
    }
  }
}

// @each $property-name, $property-value in $properties {
//   @each $direction-name, $direction-values in $directions {
//     @each $space-name, $space-value in $negative-spaces {
//       .n#{$property-name}#{$direction-name}-#{$space-name} {
//         @each $direction-value in $direction-values {
//           #{$property-value}#{$direction-value}: #{$space-value};
//         }
//       }
//     }
//   }
// }

.m-mx-auto {
  @include breakpoint('md') {
    margin-left: auto; margin-right: auto;
  }
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.my-auto,
.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto,
.float-center {
  margin-left: auto;
  margin-right: auto;
}
