// Contents:
//   Position Utilities
//   XY Coordinate Utilities
//   Z-Index Coordinate Utilities

// Position adapted from Basscss
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

// XY Coordinates
$properties: (
  'bottom',
  'left',
  'right',
  'top',
);

$spaces: (
  '-1': -1px,
  '0': 0,
  'xs': $space-xs,
  's': $space-s,
  'm': $space-m,
  'l': $space-l,
  'xl': $space-xl,
  'xxl': $space-xxl,
  'xxxl': $space-xxxl,
  '100': 100%
);

@each $property in $properties {
  @each $space-name, $space-value in $spaces {
    .#{$property}-#{$space-name} {
      #{$property}: $space-value;
    }
  }
}

.bottom-50 {
  bottom: 50%;
  transform: translate(0, -50%);

  &.left-50,
  &.right-50 {
    transform: translate(-50%, -50%);
  }
}

.left-50 {
  left: 50%;
  transform: translate(-50%, 0);
}

.right-50 {
  right: 50%;
  transform: translate(-50%, 0);
}

.top-50 {
  top: 50%;
  transform: translate(0, -50%);

  &.left-50,
  &.right-50 {
    transform: translate(-50%, -50%);
  }
}

// z-index Coordinates
$nz1: -1;
$z1: 111;
$z2: 222;
$z3: 333;
$z4: 444;
$z5: 555;
$z6: 666;
$z7: 777;
$z8: 888;
$z9: 999;
$z10: 1000;
$z11: 1100;

$z-indexes: (
  'nz1':$nz1,
  'z1':$z1,
  'z2':$z2,
  'z3':$z3,
  'z4':$z4,
  'z5':$z5,
  'z6':$z6,
  'z7':$z7,
  'z8':$z8,
  'z9':$z9,
  'z10':$z10,
  'z11':$z11
);

@each $z-name, $z-value in $z-indexes {
  .#{$z-name} {
    z-index: $z-value;
  }
}
