// box shadows
$bs-color-default: rgba(0, 0, 0, 0.2);

.shadow-thin {
  box-shadow: 0 0 2px 0 $bs-color-default;
}

.shadow {
  box-shadow: 0 2px 4px 0 $bs-color-default;
}

.shadow-bold {
  box-shadow: 0 4px 10px 0 $bs-color-default;
}

.shadow-x-b {
  box-shadow: 0 2px 4px 0 $bs-color-default;

  &::before {
    background: $white;
    content: "";
    height: 1px;
    left: 1px;
    position: absolute;
    top: -1px;
    width: calc(100% - 2px);
  }
}
