.tabs-parent-container {
  position: relative;

  &.inner {
    &::after {
      content: "";
      background-color: $grey1-a;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
      height: 1px;
      width: 100%;
    }

    li {
      position: relative;
      z-index: 1;
    }

    li:first-of-type {
      margin-left: 1rem;
    }

    a.active {
      border: 1px solid $grey1-a;
      border-bottom-color: $white;
      box-shadow: none;
    }
  }

}

.tabs-container {
  list-style: none;
  margin-bottom: 0;
  display: flex;
  align-items: center;

  li {
    display: block;
    margin-right: 1rem;
    padding: 0;
  }

  a {
    background-color: $grey0-a;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid transparent;
    color: $grey4-a;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    text-decoration: none;

    &:focus {
      text-decoration: none;
    }

    &.active {
      background-color: $white;
      box-shadow: 0 2px 4px 0 $bs-color-default;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
