/**
 * Vertical rhthym resets / defaults
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
// Set Global Default on Body
body {
    font-family: 'Avenir LT W01_55 Roman1475520', $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color:$grey4-a;
    //font-weight: normal;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
p, blockquote{
  margin-bottom:$space-m;
}
// Line lengths / measure
$measure-width:32em;
.measure, .mx{
  max-width:$measure-width;
}
$measure-narrow:24em;
.measure-narrow{
  max-width:$measure-narrow;
}

/* Basscss Typography */
.font-family-inherit { font-family: inherit }
.font-size-inherit { font-size: inherit }
.text-decoration-none { text-decoration: none }
.quote{
  box-sizing:border-box;
  box-shadow: -2px 0 0 0;
  padding-left: $space-m;
  padding-top: $space-m;
  padding-bottom: $space-s;
  margin-bottom: $space-m;
}

/*
 * Font Face Family declarations for style
 */
// Normal
.normal {
  font-family:'Avenir LT W01_55 Roman1475520', $base-font-family;
  font-weight: normal;
}
// Italic
.italic {
  font-family:'Avenir LT W01_55 Obliqu1475526', $base-font-family;
  font-style:italic;
}
// Bold
// @todo: deprecate fw-bold
.bold, strong, .strong{
  font-family:'Avenir LT W01_85 Heavy1475544', $base-font-family;
  font-weight: bold;
}
// Specialized font to handle weight and italic
// @todo: deprecate fw-bold
.bold.italic {
  font-family:'Avenir LT W01_55 Obliqu1475526', $base-font-family;
  font-weight: bold;
}


/*
 * Utilities
 */
.caps{
  text-transform: uppercase;
  letter-spacing: .1em; }
.uppercase{ text-transform:uppercase; }
.text-left   { text-align: left }
.text-center { text-align: center }
.text-right  { text-align: right }
.text-justify{ text-align: justify }
.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }
.underline { text-decoration: underline }
.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ls-1{
  letter-spacing:.1em;
}
.ls-2{
  letter-spacing:.2em;
}
.kern1{
  letter-spacing:-.1em;
}
.kern2{
  letter-spacing:-.2em;
}
small, .small{
  font-size:0.875rem;
  line-height:1.5rem;
  margin-top:0.125rem;
  color:$grey3-a;
}

hr{
  height:7px;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px solid $grey1-a;
  margin-bottom:$space-s;
  width:100%;
}

@import
"headings",
"lists"
;
