<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="relative" data-spy="scroll" data-target="#scrollspy" >
    {% include icons.html %}
    <!-- <button class='h5'>Toggle Grid</button> -->
    <div class="">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </div>
    <script>
    // IS EVERYBODY READY?
    $(document).ready(function () {
    // OK HERE WE GO

      // Smooth Scrolling for Anchor Links between Sections (stickyNav)
      $(function() {
        $('#stickyNav a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });

      // Smooth Scrolling for Anchor Links in How It Works (hiwNav)
      $(function() {
        $('#hiwNav a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });

      // Anchor Link highlighting using Boostrap "scrollspy"







      // Sticky Sub Navigations using Boostrap "affix"
      $('#stickyNav').affix({
        offset: {
          top: $('#stickyNav').offset().top,
          bottom:
          (
            $('body').outerHeight(true) -
            $('#actions').offset().top
          )
        }
      });

      $('#hiwNav').affix({
          offset: {
            top: $('#howitworks').offset().top,
            bottom:
            (
              $('body').outerHeight(true) -
              $('#whycanvas').offset().top
            )
          }
      });



      // Tabs for content in why canvas


        jQuery('nav.tabs').each(function(){
          // For each set of tabs, we want to keep track of
          // which tab is active and its associated content
          var $active, $content, $links = jQuery(this).find('a');

          // If the location.hash matches one of the links, use that as the active tab.
          // If no match is found, use the first link as the initial active tab.
          $active = jQuery($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
          $active.addClass('active');

          $content = jQuery($active[0].hash);

          // Hide the remaining content
          $links.not($active).each(function () {
            jQuery(this.hash).hide();
          });

          // Bind the click event handler
          jQuery(this).on('click', 'a', function(e){
            // Make the old tab inactive.
            $active.removeClass('active');
            $content.hide();

            // Update the variables with the new link and content
            $active = jQuery(this);
            $content = jQuery(this.hash);

            // Make the tab active.
            $active.addClass('active');
            $content.show();

            // Prevent the anchor's default click action
            e.preventDefault();

          });
        });
    });

      // Toggle Baseline Grid and show element outlines
      // const toggleGrid = e => {
      //   document.body.classList.toggle('grid8')
      //   document.body.classList.toggle('debug')
      // }
      // document.body.addEventListener('click', toggleGrid)
    </script>
  </body>

</html>
