<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="relative" data-spy="scroll" data-target=".scrollspy" data-offset="48">
    {% include icons.html %}
    <!-- <button class='h5'>Toggle Grid</button> -->
    <div class="">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </div>
    <script>
    // IS EVERYBODY READY?
    $(document).ready(function () {
    // OK HERE WE GO

      // If not on desktop, you might need to open the navigation.
      $('#globalNavToggle').click(function(e) {
        e.preventDefault();
        $('.offCanvasNav').toggleClass('left-100');
        $('.offCanvasNav').toggleClass('left-0');
        $('#menuToggle').toggleClass('rotate-180 opacity-0');
        $('#closeToggle').toggleClass('rotate-180 opacity-0');
      });


      // Smooth Scrolling for Anchor Links in How It Works (hiwNav)
      $(function() {
        $('#stickyNav a[href*="#"]:not([href="#"]), .scrollTo').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 400);
              return false;
            }
          }
        });
      });

      // Anchor Link highlighting using Boostrap "scrollspy"

      // Sticky Sub Navigations using Boostrap "affix"
      $('#stickyNav').affix({
        offset: {
          top: $('#stickyNav').offset().top,
          bottom:
          (
            $('body').outerHeight(true) -
            $('#actions').offset().top
          )
        }
      });




      // Tabs for content in why canvas


        jQuery('nav.tabs').each(function(){
          // For each set of tabs, we want to keep track of
          // which tab is active and its associated content
          var $active, $content, $links = jQuery(this).find('a');

          // If the location.hash matches one of the links, use that as the active tab.
          // If no match is found, use the first link as the initial active tab.
          $active = jQuery($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
          $active.addClass('active');

          $content = jQuery($active[0].hash);

          // Hide the remaining content
          $links.not($active).each(function () {
            jQuery(this.hash).hide();
          });

          // Bind the click event handler
          jQuery(this).on('click', 'a', function(e){
            // Make the old tab inactive.
            $active.removeClass('active');
            $content.hide();

            // Update the variables with the new link and content
            $active = jQuery(this);
            $content = jQuery(this.hash);

            // Make the tab active.
            $active.addClass('active');
            $content.show();

            // Prevent the anchor's default click action
            e.preventDefault();

          });
        });

        // Slider Setup
        var PRICE_PER_MONTHS = [
          {
            month: 1,
            priceForLite: 514.47,
            priceForBasic: 544.31,
            priceForPlus: 578.40,
            priceForUnlimited: 612.50
          },
          { month: 2,
            priceForLite: 488.57,
            priceForBasic: 518.40,
            priceForPlus: 552.50,
            priceForUnlimited: 586.60
          },
          { month: 3,
            priceForLite: 479.37,
            priceForBasic: 509.20,
            priceForPlus: 543.30,
            priceForUnlimited: 577.40
          },
          { month: 4,
            priceForLite: 470.17,
            priceForBasic: 500.00,
            priceForPlus: 534.10,
            priceForUnlimited: 568.20
          },
          { month: 5,
            priceForLite: 460.97,
            priceForBasic: 490.80,
            priceForPlus: 524.90,
            priceForUnlimited: 559.00
          },
          { month: 6,
            priceForLite: 451.76,
            priceForBasic: 481.60,
            priceForPlus: 515.70,
            priceForUnlimited: 549.80
          },
          { month: 7,
            priceForLite: 442.56,
            priceForBasic: 472.40,
            priceForPlus: 506.50,
            priceForUnlimited: 540.60
          },
          { month: 8,
            priceForLite: 433.36,
            priceForBasic: 463.20,
            priceForPlus: 497.30,
            priceForUnlimited: 531.40
          },
          { month: 9,
            priceForLite: 424.16,
            priceForBasic: 454.00,
            priceForPlus: 488.10,
            priceForUnlimited: 522.20
          },
          { month: 10,
            priceForLite: 414.96,
            priceForBasic: 444.80,
            priceForPlus: 478.90,
            priceForUnlimited: 513.00
          },
          { month: 11,
            priceForLite: 405.76,
            priceForBasic: 435.60,
            priceForPlus: 469.70,
            priceForUnlimited: 503.79
          },
          { month: 12,
            priceForLite: 399.06,
            priceForBasic: 428.90,
            priceForPlus: 462.99,
            priceForUnlimited: 497.09
          },
          { month: 13,
            priceForLite: 399.06,
            priceForBasic: 428.90,
            priceForPlus: 462.99,
            priceForUnlimited: 497.09
          },
          { month: 14,
            priceForLite: 399.06,
            priceForBasic: 428.90,
            priceForPlus: 462.99,
            priceForUnlimited: 497.09
          },
          { month: 15,
            priceForLite: 399.06,
            priceForBasic: 428.90,
            priceForPlus: 462.99,
            priceForUnlimited: 497.09
          },
          { month: 16,
            priceForLite: 399.06,
            priceForBasic: 428.90,
            priceForPlus: 462.99,
            priceForUnlimited: 497.09
          },
          { month: 17,
            priceForLite: 399.06,
            priceForBasic: 428.90,
            priceForPlus: 462.99,
            priceForUnlimited: 497.09
          },
          { month: 18,
            priceForLite: 399.06,
            priceForBasic: 428.90,
            priceForPlus: 462.99,
            priceForUnlimited: 497.09
          },
          { month: 19,
            priceForLite: 399.06,
            priceForBasic: 428.90,
            priceForPlus: 462.99,
            priceForUnlimited: 497.09
          },
          { month: 20,
            priceForLite: 399.06,
            priceForBasic: 428.90,
            priceForPlus: 462.99,
            priceForUnlimited: 497.09
          },
          { month: 21,
            priceForLite: 399.06,
            priceForBasic: 428.90,
            priceForPlus: 462.99,
            priceForUnlimited: 497.09
          },
          { month: 22,
            priceForLite: 399.06,
            priceForBasic: 428.90,
            priceForPlus: 462.99,
            priceForUnlimited: 497.09
          },
          { month: 23,
            priceForLite: 399.06,
            priceForBasic: 428.90,
            priceForPlus: 462.99,
            priceForUnlimited: 497.09
          },
          { month: 24,
            priceForLite: 399.06,
            priceForBasic: 428.90,
            priceForPlus: 462.99,
            priceForUnlimited: 497.09
          },
        ];

        var currentMileagePackageName = 'priceForLite';
        var currentMonth = 1;

        var calculateAverage = function calculateAverage(month, mileagePackageName) {
          var sum = 0;
          for (var i = 0; i < month; i++) {
            sum += PRICE_PER_MONTHS[i][mileagePackageName];
          }

          return (sum / month).toFixed(2);
        };

        var renderNumbers = function renderNumbers(month, mileagePackageName) {
          currentMonth = month;
          var firstMonthValue = Math.round(PRICE_PER_MONTHS[0][currentMileagePackageName]);
          var currentMonthValue = Math.round(PRICE_PER_MONTHS[currentMonth - 1][currentMileagePackageName]);
          var averageMonthValue = Math.round(calculateAverage(currentMonth, currentMileagePackageName));

          console.log(currentMonth, firstMonthValue, currentMonthValue, averageMonthValue);

          $('.sliderStepValue').html(currentMonth);
          $('.sliderFirstMonthValue').html('$' + firstMonthValue);
          $('.sliderCurrentMonthValue').html('$' + currentMonthValue);
          $('.sliderAverageMonthValue').html('$' + averageMonthValue);
        };

        // Mileage Active States
        $('.mileage-calc .row').on('click', function(){
            $(this).removeClass('opacity-a3').siblings().addClass('opacity-a3');
            $(this).addClass('selected').siblings().removeClass('selected');
            currentMileagePackageName = 'priceFor' + $(this).attr('data-mileage-package-name');

            renderNumbers(currentMonth, currentMileagePackageName);

            //Find numbers, the text content into integers, and add the mileage to base to get our total.
            var valueBase = parseInt($('.valueBase').text(), 10);
            var valueMileage = parseInt($('.mileage-calc .selected').find('.valueMileage').text(), 10);
            var valueTotal = valueBase + valueMileage;
            // console.log(valueTotal);
            $('.valueTotal').html(valueTotal);
        });

        // Slider Calculations

        // This creates our slider, sets the increment, and start/end points
        var stepSlider = document.getElementById('sliderStep');
        noUiSlider.create(stepSlider, {
        	start: [ 6 ],
          connect: [true, false],
        	step: 1,
        	range: {
        		'min': [  1 ],
        		'max': [ 24 ]
        	}
        });


        // This gives us a return on the current slider position and value

          stepSlider.noUiSlider.on('update', function( values, handle ) {
            var month = Math.round(values[handle])
            renderNumbers(month);
          }.bind(this));

    });

      // Toggle Baseline Grid and show element outlines
      // const toggleGrid = e => {
      //   document.body.classList.toggle('grid8')
      //   document.body.classList.toggle('debug')
      // }
      // document.body.addEventListener('click', toggleGrid)
    </script>
  </body>

</html>
